@import "../bower_components/bootstrap/dist/css/bootstrap.min.css";			/* Bootstrap */
@import 'reset.css';

#header h1{width:100%;height:100%;line-height:4.3rem;text-align:center;font-size:2.1rem;color:#000;padding: 0 34px;white-space: nowrap;
}
#header h1 i{display:inline-block;height:100%;line-height:3.9rem !important;}
.hbtn{position:absolute;top:0;width:4rem;height:100%;text-indent:-9999px;}
.hbtn.fl{left:0;}
.hbtn.fr{right:0;}
.hbtn.user{background:url('../img/hbtn_user.png')no-repeat center;background-size:2.5rem;}
.hbtn.main{background:url('../img/hbtn_main.png')no-repeat center;background-size:2rem;}
.hbtn.setting{background:url('../img/hbtn_set.png')no-repeat center;background-size:2rem;}
.hbtn.home{background:url('../img/hbtn_home.png')no-repeat center;background-size:1.7rem;}
.hbtn.back{background:url('../img/hbtn_back.png')no-repeat center;background-size:1.15rem;}
.hbtn.search{background:url('../img/hbtn_search.png')no-repeat center;background-size:2rem;}

/* global */
[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none;
}
[kme-i18n] {
	visibility: hidden
}
.btn-none {
	background: none
}
.ng-show {
	display:block;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
	outline:none; outline-offset:0;
}

.scroll-enable ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

.scroll-enable ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: 1px dotted transparent;
}

button:focus::-moz-focus-inner,
input[type="reset"]:focus::-moz-focus-inner,
input[type="button"]:focus::-moz-focus-inner,
input[type="submit"]:focus::-moz-focus-inner,
input[type="file"] > input[type="button"]:focus::-moz-focus-inner {
    padding: 3px;     border-color: #F3F3F3;
}

input[type="text"], input[type="password"], input[type="tel"], input[type="number"], input[type="email"] {border-radius: 0 !important; border: 1px solid #969696 !important; box-shadow: 0 0 2px 2px #d9d9d9; padding:0 1rem;}
input[type="checkbox"]{width:2rem;height:2rem;margin-right:.5rem;background:url('../img/chk.png')no-repeat 0 0;background-size:6rem;}
input[type="checkbox"]:checked{background-position:-2rem 0;}
input[type="radio"]{width:2rem;height:2rem;margin-right:.5rem;background:url('../img/rdo.png')no-repeat 0 0;background-size:2rem;}
input[type="radio"]:checked{background-position:0 -2rem;}

a,
a:focus,
a:visited,
a:link,
input[type=radio],
input[type=radio]:focus,
input[type=checkbox],
input[type=checkbox]:focus {
	outline:none;
}
html, body {
	position: relative; width: 100%; height: 100%; background:#f0f0f0; -webkit-tap-highlight-color: rgba(255,255,255,0);
}
.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}

.pad-t-1rem {padding-top:1rem;}

.row.no-padding,
.row.no-padding * {
	padding-left:0px; padding-right:0px; margin-left: 0px; margin-right: 0px;
}
.no-margin {
	margin:0 !important;
}
.no-padding {
	padding:0 !important;
}
.require {
	border-color:#bb162b !important;
}
.require-txt {
	color:#bb162b; font-size:14px; margin-top:0.5rem;
}
.vert-mid-txt {
	display:inline-block; vertical-align:middle; margin-top:0.2rem;
}
.txt-r {
	text-align:right !important;
}
.small-width {
	width:1.6rem; text-align:left;
}
.comment1 {
	padding: 1rem 15px 0 15px; color: #333; font-size: 1.5rem;
}

.full-size-map nav,
.full-size-map .sub_head {
	display:none;
}
.full-size-map #scroll {
	padding-top:0;
}
.full-size-map section {
	padding-bottom:0;
}
.full-size-map .ng-scope .map_space {
	padding-bottom:0;
}

body.form-focus {
	height:auto;
}
body.form-focus .navbar {
	position:relative !important;
}
body.form-focus .foot-btn {
	height:initial; min-height:initial;
}
body.form-focus .footer-fix {
	display:none !important;
}
body.form-focus #scroll {
	padding-top:0 !important; padding-bottom:0 !important; height:auto;
}
body.form-focus section {
	padding-bottom:0;
}
body.form-focus .btn-fix {
	display:none !important;
}
/* scroll wrap */
#scroll {
	height:100%; overflow:initial; overflow-y:initial; padding-top:4.3rem;
}
#scroll.on-key {padding-bottom: 70rem !important}

.full-height,
.full-height .map_space {
	height:100%;
}

.bg-type1 {
	background:#f0f0f0 url("../img/appointments/bg_type1.png") center bottom 7.5rem no-repeat;
	background-size:contain;
	height:100% !important;
}
.bg-type2 {
	background:#f0f0f0 url("../img/appointments/bg_type2.png") center bottom 7.5rem no-repeat;
	background-size:contain;
	height:100% !important;
}
.bg-type3 {
	background:#f0f0f0 url("../img/appointments/bg_type3.png") center bottom 7.5rem no-repeat;
	background-size:contain;
	height:100% !important;
}
.bg-type4 {
	background:#f0f0f0 url("../img/appointments/bg_type4.png") center bottom 2.5rem no-repeat;
	background-size:contain;
	height:100% !important;
}
.form-focus.bg-type1,
.form-focus.bg-type2,
.form-focus.bg-type3 {
	background-position:center bottom;
}

.foot-btn {
	position:relative; width:100%; min-height:100%; /*
	padding-top:5rem; margin-top:-5rem; margin-bottom:3rem; */
}

.bg-car section {
	background:transparent;
}

/* margin 0 */
.list-group {
	margin:0;
}

/* navigation */
.navbar {
	position: fixed; z-index: 100; left: 0; top: 0; width: 100%; min-height:4.3rem; height: 4.3rem; line-height: 4.3rem; border-top: 2px solid #bb162b; border-bottom:1px solid #6c6c6c; background: #fff; margin:0;
}
.navbar-brand {
	width:100%; height:100%; line-height:4.3rem; text-align:center; font-size:2.1rem; color:#000 !important; padding: 0 34px; white-space: nowrap;
}
.navbar-left {
	position: absolute; left:0;
}
.navbar-right {
	position: absolute; right:0px; margin-right:0;
}

/* navigation sub page style */
.navbar.page-type-sub {
	border:none; background:#bb162b;
}
.navbar.page-type-sub .navbar-brand{
	color:#fff !important;
}

.navbar.page-type-sub .hbtn.back {
	background:url('../img/hbtn_back_white.png')no-repeat center; background-size:1.15rem;
}

.search h1{
	text-indent:-9999px; font-size:0;
}
.search .search_box{
	position:absolute; top:0.45rem; left:1rem; width:95%; background:#c23743; border:1px solid #e4a6ab;
}
.search .search_box input[type="text"]{
	padding:0 2.7rem 0 2.9rem !important; color:#fff; font-size:1.4rem; background:transparent url('../img/ico_hsearch.png')no-repeat .5rem .5rem; background-size:1.6rem; border:none; border-top:1px solid #9b2c36;
}
.search .search_box .btn_cancel{
	position:absolute; top:0; right:0; width:2.9rem; height:2.9rem; text-indent:-9999px; background:transparent url('../img/ico_hsearch_cancel.png')no-repeat center center; background-size:1.4rem;
}



/* section */
section {
	position: relative; width: 100%; height: 100%; padding-bottom:8.5rem; background:transparent;
}

.scroll-area {
	overflow-y: auto; overflow-x: hidden; height: 100%; margin: 0; padding-bottom: 100px; -webkit-overflow-scrolling: touch;
}
.no-image img {
	width:100%;
}

/* footer */
.footer-fix {
	position: fixed; z-index: 800; right: 0; bottom: 0; width: 100%; height: 4rem; font-size: 0; line-height: 0; background: transparent url('../img/bg_default_footer.png') no-repeat right top; background-size: auto 4rem;
}

.btn-wrap {
	text-align:center; padding-top:5rem;
}
.btn-wrap2 {
	text-align:center; padding:0.5rem;
}

.btn-fix {
	position: fixed; width:100%; left:0px; bottom:2.4rem; height:5rem; line-height:5rem; background: #fff; z-index:800;
}
.btn-fix.gray {
	background:#f0f0f0;
}
.btn-red-round {
	border-radius:1.8rem; height:3.6rem; line-height:3.6rem; background:#bb162b; color:#fff; font-size:1.6rem; padding:0rem 2.5rem;
}
.btn-red-round:hover,
.btn-red-round:focus {
	color:#fff;
}

.workshop-box {
	border-left:1px solid #fff;
}
.showroom-box,
.workshop-box  {
	display:block; background: #bb162b; height:9rem; text-align:center;
}
.showroom-box:after,
.workshop-box:after {
	content:""; width:0px; height:100%; display:inline-block; vertical-align:middle;
}
.showroom-box button,
.workshop-box button {
	display:block; border:none; background:transparent; text-align: center; font-size:1.4rem; color:#fff; width:100%; height:9rem;
}

.showroom-box i,
.workshop-box i {
	font-size:2em; font-weight:bold; display:inline-block; background-size:100%; width:3rem; height:3rem; margin-bottom:0.2rem;
}
.showroom-box i {
	background:transparent url("../img/appointments/ico_mycar_white.png") center no-repeat; background-size:100%;
}

.workshop-box i {
	background:transparent url("../img/appointments/ico_repair.png") center no-repeat; background-size:80%;
}

.only-showroom .showroom-box i {
	position:absolute; top:50%; left:2rem; margin-top:-1.7rem;
}
.only-showroom .showroom-box p {
	font-size:1.6rem;
	text-align:left;
	padding-left:7rem;
}

/* showroom top tab */
.tab-showroom-type>div {
	border-left:1px solid #fff; background:#bb162b; height:7rem; color:#fff; font-size:1rem; text-align:center;
}
.tab-showroom-type>div:first-child {
	border-left:none;
}
.tab-showroom-type>div>button {
	display:block; background:transparent; width:100%; height:100%; color:#fff; cursor:pointer;
}
.tab-showroom-type span {
	display:inline-block; vertical-align:middle;
}
.tab-showroom-type em {display:block; margin-top:0.2em;}
.tab-showroom-type i {
	display:inline-block; width:2.2rem; height:2.2rem; background:url("../img/appointments/ico_showroom_tab.png") left top no-repeat; background-size:100% auto;
}
.tab-showroom-type .ico_handle_white {
	background-position:0 0;
}
.tab-showroom-type .ico_people_white {
	background-position:0 50%;
}
.tab-showroom-type .ico_quote_white {
	background-position:0 100%;
}

/* theme1 */
.theme1 {}
.theme1 .list-group-item {
	display: table; 
	width:100%; padding-left: 0px; padding-right: 0px
}
.theme1 h3 {
	font-size:1.8rem; margin:0;
}
.theme1 img {
	width:100%;
}
.info-title {
	padding: 15px
}
.info-body {
	padding:15px;
}

.range-component {
	position: relative; width:100%; border:1px solid #000;
}
.range-component .cursor {
	position: absolute;	
	top:0px;
}
.range-component .cursor.min {
	left:0px;
}
.range-component .cursor.max {
	right:0px;
}
.form-group {
	position: relative;
}
.float-button {
	position: absolute; right:10px; 
	top:0px; bottom:auto;
}
.showroom-top {
	background: #0f0; height:50px;
}
.car-info {
	position:relative; background: transparent; min-height:10rem; padding-left:1rem; border-top:1px solid #999; border-bottom:1px solid #999;
}
.car-info h3 {
	color:#000; font-size:2.2rem; padding-top:1rem; margin:0;
}
.car-info button {
	position:absolute; top:0.5rem; right:0.5rem; display:inline-block; background-size:contain; width:2.8rem; height:2.8rem; padding:0; margin:0; z-index:2;
}
.car-info .car-thumnail {
	position:absolute; top:3rem; right:0.5rem; width:10rem; z-index:1;
}
.car-info .car-thumnail img {
	display:block; width:100%;
}
.car-info ul {
	padding-top:1rem; padding-left:1.3rem;
}
.car-info ul li {
	line-height:2.4rem; color:#000; font-size:1.2rem; font-weight:normal; list-style-type:square; text-indent:-0.4rem;
}
.car-info ul li * {
	vertical-align:middle;
}
.car-info ul li input {
	width:9rem; height:2rem; line-height:2rem; color:#000; text-align:right; 
}
.panel-group .panel-title {
	position: relative; font-size:1.6rem;
}
.workshop-info {
	position: relative; border:1px solid #a1a1a1; background: #ffffff; padding:1.5rem; margin:0 15px;
}

.workshop-info h3 {
	color:#0072bc; font-size:2.5rem; font-weight:bold; overflow:hidden;
}
.workshop-info h3 * {
	vertical-align:middle;
}
.workshop-info h3 strong {
	float:left; display:inline-block; height:2.5rem; line-height:2.5rem; color:#666; font-size:1.6rem;
}
.workshop-info h3 em {
	float:right; display:inline-block; height:2.5rem; line-height:2.5rem;
}
.workshop-info h3 span {
	display:inline-block; height:2.5rem; line-height:2.5rem; margin-right:0.5rem;
}
.workshop-info h3 i {
	display:inline-block; width:2.5rem; height:2.5rem; margin-right:0.5rem; margin-bottom:0.2rem;
}
.workshop-info p {
	clear:both; color:#666; text-align:left; padding:1rem 0;
}

.workshop-margin {
	margin-bottom: 130px
}
.trans-option {
	position: relative;
}
.nav-pills>li.tab-info {
	float: right
}


/* Popup */
.ngdialog.ngdialog-theme-plain {
	padding-top: 50px
}
.pop-window {

}
.pop-window > .ngdialog-message {

}
.pop-window > .ngdialog-message > h2 {
	font-size: 30px
}
.pop-window > .ngdialog-message > h3 {
	font-size: 20px
}
.pop-window > .ngdialog-message > .scroll {
	max-height: 500px; overflow: scroll;
}
.pop-window > .ngdialog-message .mt {
	padding:15px;
}
.pop-window > .ngdialog-message .mt li {
	list-style: circle;
}


/* calendar */
.calendar-wrap {
	padding:0rem 1.5rem 1.5rem 1.5rem;
}
.calendar-wrap>div {
	padding:0px;
}
.calendar .cal-cont {
	border:4px solid #fff; border-radius:8px; background:#fff; box-shadow: 6px 6px 5px #d3d3d3;
}
.calendar div.header > * {
	height: 5rem; line-height: 5rem !important; display: inline-block; vertical-align: middle;
}
.calendar div.header {
	float: left; width: 100%; border-top-left-radius:8px; border-top-right-radius:8px; background: #dcdcdc; height: 5rem; color: #bb162b; font-size:1.6rem; text-align:center;
}
.calendar div.header > span {
	font-weight: bold; text-transform: uppercase; box-sizing: border-box; -moz-box-sizing: border-box; color: inherit;
}
.calendar div.header > i {
	display:inline-block; width:1.5rem; height:1.5rem; background:url("../img/appointments/ico_clap_group.png") left top no-repeat; background-size:200%; font-size: 0; text-indent:-9999px; cursor: pointer; margin-top:1.5rem;
}
.calendar div.header > i.left {
	float:left; background-position:0 0; margin-left:1rem;
}
.calendar div.header > i.right {
	float:right; background-position:0 100%; margin-right:1rem;
}
.calendar div.week {
	float: left; width: 100%;
}
.calendar div.week > span.day {
	float: left; width: 14.28571429%; box-sizing: border-box; -moz-box-sizing: border-box; font-size:1.8rem; text-align: center; height: 2.5rem; line-height: 2.5rem !important; display: inline-block; vertical-align: middle; background: white; cursor: pointer; color: black; margin:0.5rem 0;
}

.calendar div.week.names {
	background:#dcdcdc;
}
.calendar div.week.names > span {
	background:transparent; height:2.5rem; line-height:2.5rem; color: #7d7d7d; font-size:1.2rem; font-weight: bold; margin:0;
}

.calendar div.week > span.day > em {
	display:inline-block; border-radius:2rem; background:transparent; color: #ddd; font-size:1.3rem; font-weight:normal; width:2.5rem; height:2.5rem; line-height:2.5rem; font-weight:bold; padding-top:0.1rem;
}

.calendar div.week > span.day.different-month em {
	background:transparent; color: #ddd !important; font-size:1.3rem; font-weight:normal;
}

.calendar div.week > span.day.available em {
	background: transparent; color:#000; font-size:1.3rem; font-weight:normal;
}

.calendar div.week > span.day.selected em {
	background: #bb162b; color: white; font-size:1.5rem; font-weight:bold;
}
/*
.calendar div.week > span.day.today {
	background: #E3F2FF;
}
*/
.calendar-wrap .timeslot {
	padding-left:1rem;
}
.timeslot ul {
	box-shadow: 6px 6px 5px #d3d3d3;
}
.timeslot ul li {
	border:none; height:3.3rem; text-align:center; padding:0.6rem .5rem;
}
.timeslot ul li:first-child {
	border-top-left-radius:8px; border-top-right-radius:8px; padding-top:1rem; margin:0;
}
.timeslot ul li:last-child {
	border-bottom-left-radius:8px; border-bottom-right-radius:8px; padding-bottom:1rem; margin:0;
}
.timeslot ul li button {
	padding:0;
}
.timeslot ul li button i {
	display:inline-block; width:1.5rem; height:1.5rem; background:url("../img/appointments/ico_clap_group.png") left top no-repeat; background-size:200%; font-size:0; text-indent:-9999px;
}
.timeslot ul li:first-child button i {
	background-position:100% 0;
}
.timeslot ul li:last-child button i {
	background-position:100% 100%;
}
.timeslot ul li span {
	display:inline-block; border-radius:1.2rem; width:100%; height:2.1rem; line-height:2.1rem; color:#7d7d7d; font-size:1.5rem; text-align:center; padding-top:0.1rem; cursor:pointer;
}

.timeslot ul .closed span {
	background:#d2d2d2; color:#fff;
}

.timeslot ul .selected span {
	background:#bb162b; color:#fff;
}

.panel.no-image {
	border:none; background:#f0f0f0 url('../img/appointments/img_appointment_bg.jpeg') center top no-repeat; background-size:auto 100%; margin:0; height:12rem; margin-bottom:1rem;
}

#gmaps,
.map-wrapper {
	width:100%; height: 100%;
}

.list-theme1 {
	background:#fff; margin-left:1rem; margin-right:1rem;
}

.list-theme1 li {
	position:relative; width:100%; border-bottom:1px solid #a1a1a1; border-left:5px solid #969ba1; /*background:url('../img/li_type_drop_down.png')no-repeat right 1rem center; background-size:1.1rem;*/
	padding-left:0.5rem;
}
.list-theme1 li:first-child {
	border-top:1px solid #a1a1a1;
}

.list-theme1 li .campaign-list {
	display:block; width:100%; padding:1rem 4.5rem 1rem 1rem; font-size:1.4rem; color:#333; background-color:transparent;
}
.list-theme1 li .campaign-list span {
	display:block; color:#000; font-size:1.2rem;
}
.list-theme1 li .campaign-detail>div {
	border-top:1px solid #a1a1a1;
}
.list-theme1 li i {
	display:none; /* icon 정보 값이 없어 숨김 */
	position:absolute; top:1rem; left:10px; width:2rem; height:2rem; background:url("../img/appointments/ico_list_head_car.png") left top no-repeat; background-size:100% auto;
}

.list-theme1 li .icon {
	position: absolute; top:2.2rem; right:0.8rem; width:2rem; height:1.1rem; background:url('../img/li_type_drop_down.png') no-repeat; background-size:2rem 2.2rem;
}
.list-theme1 li .icon.open {
	background-position:0rem -1.1rem;
}

.list-theme1 .list-unread {
	border-left:5px solid #bb162b;
}

.list-theme1 .list-unread a {
	color:#bb162b;
}
.list-theme1 .list-unread i {
	background-position:0px 100%;
}

/* season campaign */
.campaign-detail {
	padding:0;
}
.campaign-detail .row {margin:0;}
.campaign-detail .img_space{
	position:relative; width:100%; height:auto; float:none; padding:0;
}
[kme-preload] {
	position:relative;
}
.campaign-detail .img_space [kme-preload] {
	min-height: 100px
}
.campaign-detail .img_space img{
	width:100%;
}
.campaign-detail .img_space .info_tit_space{
	position:relative;left:0; width:100%; padding:1rem; background:rgba(0,0,0,.75);
}
.campaign-detail .info_tit_space .tit {
	margin-bottom:.2rem; color:#fff; font-size:1.9rem; line-height:2.3rem;
}
.campaign-detail .info_tit_space .date {
	color:#fff; font-size:1.4rem;
}
.campaign-detail .txt_space {
	line-height:1.3; padding:1.5rem 1rem; color:#58595b; font-size:1.5rem; word-break:break-all;
}

/* list theme 2 : appointment list */
.list-theme2 {background:transparent; padding-top:1rem; margin-left:1.6rem; margin-right:1rem;}
.list-theme2 li {position:relative; width:100%; background:url('../img/li_type_move.png')no-repeat right 1rem center; background-size:1.1rem; padding-left:4rem;}
.list-theme2 li a {display:block; border-bottom:1px solid #a1a1a1; width:100%; height:100%; padding:0.3rem 4.5rem 0.3rem 0.2rem; font-size:1.4rem; color:#7f8084; background-color:transparent;}
.list-theme2 li:last-child a {border-bottom:none;}
.list-theme2 li a strong {color:#bb162b; font-size:1.7rem;}
.list-theme2 li a p {color:#58595b;}
.list-theme2 li i {position:absolute; top:0.3rem; left:0.5rem; display:inline-block;}
.list-theme2 li.history strong,
.list-theme2 li.history span,
.list-theme2 li.history p { opacity:0.6;}


/* appointments campaign list */
.legend-area {
	background:#fff; border-top-left-radius: 1.9rem; border-bottom-left-radius: 1.9rem; height:3.8rem; line-height:3.8rem; padding-left:1.5rem; margin-bottom:3rem; margin:1rem 0rem 1rem 1.6rem;
}

.legend-area>div {
	height:100%; line-height:inherit; color:#7f8084; font-size:1.1rem; padding:0px; padding-left:2.9rem;
}
.legend-area>div i {
	position:absolute; top:50%; left:0; margin:0; margin-top:-1.15rem !important;
}
.legend-area>div span {
	margin-top:0.7rem;
}

/* appointment confirm view */
.tit-appointment-detail {
	background:url("../img/bg_carinfo2.png") left top no-repeat; background-size:cover; padding:2rem;
}

.tit-appointment-detail h2 {
	height:3.8rem; line-height:3.8rem; color:#fff; font-size:2rem; font-weight:normal;
}

.tit-appointment-detail .info-user {
	border-radius:1.4rem; background:#454545; height:2rem; line-height:2rem; color:#fff; font-size:1.2rem; padding:0.1rem 1rem 0;
}

.tit-appointment-detail .info-user i {
	width:1.5rem; height:1.5rem; margin-top:-0.2rem; margin-right:0.3rem;
}

.appointment-confirm {
	background:#fff; padding:2rem 2rem 4rem 2rem;
}
.appointment-confirm.confirmation {
	padding:2rem 2rem 3rem 2rem;
}

.appointment-confirm dt {
	color:#000; font-size:1.4rem; font-weight:normal;
}

.appointment-confirm dt i {
	width:2.2rem; height:2.2rem; margin-top:-0.1rem;
}

.appointment-confirm dd {
	position:relative; padding:0.4rem 0rem 1.8rem 3.5rem;
}

.appointment-confirm dd>p {
	color:#7f8084; font-size:1.2rem; padding-right:3.2rem;
}
.appointment-confirm dd button {
	position:absolute; top:-2.2rem; right:0rem; width:2.2rem; height:2.2rem;
}
.appointment-confirm dd button img {
	display:block; width:100%;
}
.appointment-confirm dd .workshop-info {
	margin:0;
}

.appointment-confirm dd.txt-field {
	padding:0;
}
.appointment-confirm dd.txt-field textarea {
	width:100%; height:8rem; border-radius:3px; color:#333; font-size:1.2rem; padding:0.5rem; resize:none;
}

/* progress step */
.progress-wrap {
	display:inline-block; background:#f0f0f0; width:100%;
}
.progress-step {
	border-top:1px solid #a1a1a1; margin:1.5rem 4.5rem 1rem 4.5rem;
}
.progress-step div {
	position:relative; float:left; height:1px; line-height:0rem; color:#a0a0a0; font-size:1.4rem; padding:0;
}
.progress-step div.step-count3 {
	width:50%;
}
.progress-step div.step-count4 {
	width:33.3333333%;
}
.progress-step div.step-count5 {
	width:25%;
}
.progress-step div.step-count6 {
	width:20%;
}
.progress-step div.step-count7 {
	width:16.6666666%;
}
.progress-step div.step-count8 {
	width:14.2857143%;
}
.progress-step div:first-child {
	width:0;
}
.progress-step div i {
	position:absolute; top:0.1rem; right:-0.5rem; display:inline-block;
}
.progress-step div.active {
	border-top:1px solid #bb162b; color:#bb162b; margin-top:-1px; padding-bottom:1px;
}

.progress-step .progress-title,
.progress-step .progress-title h3 {
	height:2rem; line-height:2rem;
}

.progress-step .progress-title h3 {
	color:#bb162b; font-size:1.3rem; font-weight:bold; text-align:center; padding-top:0.5rem;
}

/* border box */
.border-box-white {
	border:3px solid #fff; border-radius:10px; background:url("../img/appointments/bg_opacity.png"); padding:0rem 2rem; margin-top:1rem;
}

.selected-dealer-info {
	position:relative; padding-right:4rem; margin:1rem 0;
}

.selected-dealer-info strong {
	display:block; color:#000; font-size:1.4rem; font-weight:bold;
}

.selected-dealer-info span {
	color:#000; font-size:1.2rem;
}

.selected-dealer-info a {
	position:absolute; top:50%; right:0px; display:inline-block; background:url("../img/appointments/ico_setting_red_circle.png") center no-repeat; background-size:contain; width:3rem; height:3rem; overflow:hidden; text-indent:-9999px; margin-top:-1.5rem;
}

.select-dealer-guide-txt {
	color:#000; font-size:1.4rem; text-align:center; padding:2.5rem 0 1rem 0;
}

.list-dealer-select {
	display:inline-block; width:100%;
}
.list-dealer-select li {
	margin:.5rem 0;
}
.list-dealer-select li a {
	display:block; background:url("../img/li_type_move.png") 100% 1rem no-repeat; background-size:1rem; height:4rem; line-height:3.5rem; color:#58595b; font-size:1.5rem; padding:0.5rem 0;
}
.list-dealer-select li a span {
	display:inline-block; vertical-align:middle;
}
.list-dealer-select li i {
	display:inline-block; width:2rem; height:2rem; margin-top:-2px; margin-right:6px;
}

/* drive car list */
.list-car-group li {
	overflow:hidden; border:none; border-radius:0px !important; background:transparent; padding:0px 15px; margin-bottom:0.6rem;
}
.list-car-group li .border-box {
	border:1px solid #a1a1a1; background:#fff; height:8rem; padding:0.4rem 0;
}
.list-car-group li .border-box>div {
	position:absolute; top:50%; right:0.5rem; display:block; height:7rem; margin-top:-3.5rem; width:11rem;
}
.list-car-group li .border-box span {
	display:block; color:#000; font-size:2rem; padding:0.7rem 12rem 0rem 1rem;
}
.list-car-group li .border-box i {
	display:inline-block; color:#000; font-size:1.3rem; padding:0.7rem 1rem 0rem 1rem; margin-left:10.5rem;
}
.list-car-group li img {
	float:right; display:block; max-width:100%; max-height:7rem;
}
.list-car-group li .check-rdo {
	height:8rem; text-align:right; padding:0.4rem 0;
}
.list-car-group li .check-rdo input {
	margin:0;
}
.list-car-group li .check-rdo:after {
	content:""; display:inline-block; width:0px; height:100%; line-height:0px; vertical-align:middle;
}

/* date legend */
.date-legend {margin-top:0.5rem;}
.date-legend div {
	background:#fff; height:4rem; line-height:3rem; padding:0.5rem 0 0.5rem 1.5rem;
}
.date-legend div:first-child {
	border-top-left-radius:2rem; border-bottom-left-radius:2rem;
}
.date-legend i.ico-circle-gray {
	display:inline-block; border-radius:1rem; background:#d2d2d2; width:2rem; height:2rem; margin-right:0.2rem;
}
.date-legend i.ico-circle-red {
	display:inline-block; border-radius:1rem; background:#bb162b; width:2rem; height:2rem; margin-right:0.2rem;
}
.date-legend span {
	display:inline-block; color:#7f8084; font-size:1.4rem; padding-top:0.4rem; vertical-align:middle;
}
.txt-describe-question {
	border-radius:0px; border:1px solid #a1a1a1; background:#fff; margin-top:1.5rem; box-shadow:none;
}
.chk-call-back input {
	margin:0; vertical-align:middle;
}
.chk-call-back label {
	display:inline-block; color:#7f8084; font-size:1.2rem; vertical-align:middle; margin-top:0.3rem;
}

.pad_t_2 {padding-top:2rem;}
.custom-input-group {
	margin-top:0.5rem; margin-bottom:0px;
}
.custom-input-group span {
	background:transparent; border:1px solid #a1a1a1; border-right:none; border-radius:0px; padding:0px 0 0 12px;
}
.custom-input-group span i {
	margin:0; margin-right:1rem;
}
.custom-input-group span em {
	display:inline-block; border-right:1px solid #dfdfdf;
}
.custom-input-group .ui-select-container .form-control {
	height:3.5rem; line-height:3.5rem;
}
.custom-input-group .ui-select-container .form-control span {
	height:3.5rem; line-height:3.5rem; font-size:1.4rem; padding:0; margin:0; vertical-align:middle;
}
.custom-input-group select {
	border:1px solid #a1a1a1; border-left:none; border-radius:0px; box-shadow:none; background:url("../img/appointments/ico_arrow_down.png") right center no-repeat; background-size:contain; height:3.5rem; color:#666666; font-size:1.4rem; font-weight:bold; padding:0;
}
.custom-input-group .ve_set {
	width:2.6rem; height:2.6rem; background-size:contain; margin-top:0.5rem;
}
.custom-input-group .scope-input-wrap {
	padding:0 3rem;
}
.custom-input-group .scope-input-wrap>div {
	padding:0;
}
.custom-input-group .scope-input-wrap input {
	width:65%; text-align:right;
}
.custom-input-group .ngrs-range-slider {
	border:none; background:none; box-shadow:none; padding:0 3rem; margin:1rem 0;
}
.custom-input-group .ngrs-range-slider .ngrs-runner {
	height:2.8rem; margin:0;
}

.custom-input-group .ngrs-range-slider .ngrs-join {
	background:#727171; height:0.2rem; margin-top:-0.1rem;
}
.custom-input-group .ngrs-range-slider .ngrs-handle {
	margin:0;
}
.custom-input-group .ngrs-range-slider .ngrs-handle-max,
.custom-input-group .ngrs-range-slider .ngrs-handle-min{
	width:2.8rem; height:2.8rem;
}
.custom-input-group .ngrs-range-slider .ngrs-handle-max,
.custom-input-group .ngrs-range-slider .ngrs-handle-min,
.custom-input-group .ngrs-range-slider .ngrs-handle-max.ngrs-down,
.custom-input-group .ngrs-range-slider .ngrs-handle-min.ngrs-down {
	background:none; border:none; box-shadow:none;
}
.custom-input-group .ngrs-range-slider .ngrs-handle-max{
	margin-left:-2.8rem;
}
.custom-input-group .ngrs-range-slider .ngrs-handle-max i {
	background:url("../img/appointments/btn_scope_max.png") left top no-repeat; background-size:contain;
}
.custom-input-group .ngrs-range-slider .ngrs-handle-min i {
	background:url("../img/appointments/btn_scope_min.png") left top no-repeat; background-size:contain;
}
.custom-view-group {
	padding:0.4rem 0;
}
.custom-view-group span {
	background:transparent; border:none; border-right:none; border-radius:0px; padding:0px 12px 0px 13px;
}
.custom-view-group strong {
	height:auto; line-height:2.3rem; color:#333333; font-size:1.4rem; font-weight:normal;
}
.custom-view-group strong em {
	color:#58595b; font-size:1.2rem; font-weight:normal; vertical-align:middle;
}
.custom-view-group strong input {
	font-size:1.2rem;
}
.custom-view-group .input-group-addon {
	vertical-align:top;
}
.custom-view-group input[type=text]{
	border-radius:0px !important;
}

/* 워크샵 appointment detail 선택 */
.kme-panel-group {
	margin:1rem 0;
}
.kme-panel-group .panel-default{
	border:1px solid #a1a1a1; border-left:1rem solid #c2c2c2; border-radius:0px; background:#ffffff;
}
.kme-panel-group .panel-default>.panel-heading {
	background:#fff; 
}
.kme-panel-group .panel-heading .ico-default-type {
	background:url("../img/appointments/ico_clap_on_off.png") left top no-repeat; background-size:200%; width:1.8rem; height:1.8rem; margin:0;
}
.kme-panel-group .panel-body {
	border-top:2px solid #a1a1a1 !important; padding:0; margin:0 4px;
}
.kme-panel-group .panel-body li {
	border:none; border-top:1px solid #a1a1a1; color:#7d7d7d; font-size:1.2rem; padding:1rem 0;
}
.kme-panel-group .panel-body li:first-child {
	border:none;
}
.kme-panel-group .panel-body li * {
	vertical-align:middle;
}
.kme-panel-group .panel-body li textarea{
	border-radius:0;
}
.kme-panel-group .panel-body li strong {
	float:right; display:inline-block; width:16rem; padding-left:2rem; text-align:left;
}
.kme-panel-group button {
	padding:6px 8px; line-height:inherit;
}
.kme-panel-group button:hover {
	color:#7d7d7d;
}
.kme-panel-group .panel-body li button .btn-rdo {
	display:inline-block; background:url("../img/rdo.png") left top no-repeat; background-size:100% auto; width:2rem; height:2rem;
}
.kme-panel-group .panel-body li button .btn-chk {
	display:inline-block; background:url("../img/chk_square.png") left top no-repeat; background-size:100% auto; width:2rem; height:2rem;
}
.kme-panel-group .panel-default .ico-up-red {
	background-position:0 0;
}
.kme-panel-group .panel-default .ico-down-red {
	background-position:0 100%;
}
.kme-panel-group .panel-default .routine-info {
	top:auto;
}
.kme-panel-group .panel-body .multi-list {
	display: inline-block;
}

.kme-panel-group .panel-default .routine-info i {
	display:block; background:url("../img/appointments/ico_right_arrow_on_off.png") left top no-repeat; background-size:100% auto; background-position:0 0; width:2rem; height:2rem;
}

.kme-panel-group .panel-primary {
	border-left-color:#bb162b;
}
.kme-panel-group .panel-primary .panel-heading {
	color:#bb162b;
}
.kme-panel-group .panel-body li.list-checked,
.kme-panel-group .panel-body li.list-checked .glyphicon-record {
	color:#bb162b;
}
.kme-panel-group .panel-body li.list-checked .routine-info i {
	background-position:0 100%;
}
.kme-panel-group .panel-body li.list-checked button .btn-rdo {
	background-position:0 100%;
}
.kme-panel-group .panel-body li.list-checked button .btn-chk {
	background-position:0 100%;
}
.kme-panel-group .panel-primary .ico-up-red {
	background-position:100% 0;
}
.kme-panel-group .panel-primary .ico-down-red {
	background-position:100% 100%;
}

.kme-panel-group2 {
	background:#fff;
}
.kme-panel-group2 .trans-option {
	border:1px solid #a1a1a1; height:4rem; line-height:4rem; color:#333; font-size:1.5rem; padding-left:1.5rem; margin-top:1rem; overflow:hidden;
}
.kme-panel-group2 .trans-option i {
	width:2rem; height:2rem;
}
.kme-panel-group2 .trans-select-open{
	border-bottom:none; border-bottom-left-radius:0; border-bottom-right-radius:0;
}
.kme-panel-group2 .trans-select-open + .list-group li:first-child {
	border-top:1px solid #a1a1a1; border-top-left-radius:0; border-top-right-radius:0;
}
.kme-panel-group2 .trans-select-open + .list-group li {
	color:#333; font-size:1.4rem;
}
.kme-panel-group2 .trans-option .pull-right {
	position:absolute; top:50%; right:1rem; width:1.8rem; height:1.8rem; margin-top:-0.9rem;
}
.kme-panel-group2 .trans-option .pull-right i {
	display:inline-block; background:url("../img/appointments/ico_clap_on_off.png") left top no-repeat; background-size:200%; width:1.8rem; height:1.8rem; margin:0;
}
.kme-panel-group2 .trans-option .pull-right .ico-up-red {
	background-position:0 0;
}
.kme-panel-group2 .trans-option .pull-right .ico-down-red {
	background-position:0 100%;
}
.kme-panel-group2 .trans-select-option {color:#bb162b;}
.kme-panel-group2 .trans-select-option .pull-right .ico-up-red {
	background-position:100% 0;
}
.kme-panel-group2 .trans-select-option .pull-right .ico-down-red {
	background-position:100% 100%;
}

.user-info-form {
	padding-top:1.5rem; margin-bottom:0;
}
.user-info-form i {
	display:inline-block; width:2.3rem; height:2.3rem; vertical-align:middle;
}
.user-info-form label {
	display:none;
}
.user-info-form label.ng-binding {
	display:inline-block; height:2.3rem; line-height:2.3rem; color:#454545; font-size:1.4rem; padding-top:0.2rem;
}
.user-info-form label.ng-binding.wordwrap {
	height:auto; line-height:1.8rem; padding-left:2.3rem; text-indent:-2.6rem;
}
dt.ng-binding.wordwrap {
	height:auto; line-height:1.8rem; padding-left:2.8rem; text-indent:-2.8rem;
}
.user-info-form input[type="text"] {
	border:1px solid #a1a1a1; border-radius:2px; background:#fff; box-shadow:none; color:#58595b; font-size:1.2rem; margin-top:0.5rem;
}
.user-info-form .text-right {
	color:#333; font-size:1.1rem; padding-top:0.4rem;
}
.user-info-form textarea {
	border:1px solid #a1a1a1; border-radius:2px; background:#fff; box-shadow:none; color:#58595b; font-size:1.2rem;
}

/* icon group */
.ico-group {
	display:inline-block; width:2.3rem; height:2.3rem; margin-right:0.6rem;
}
.ico-group.ico-checked-red {
	background:url("../img/appointments/ico_check_red_round.png") left top no-repeat; background-size:contain; margin-top:-0.2rem;
}
.ico-group.ico-checked-red-dot {
	background:url("../img/appointments/ico_question_red_dot.png") left top no-repeat; background-size:contain; margin-top:-0.2rem;
}
.ico-group.ico-circle-gray {
	background:url("../img/appointments/ico_circle_gray_fill.png") left top no-repeat; background-size:contain;
}

.ico-default-type {
	display:inline-block; width:2.3rem; height:2.3rem; margin-right:0.6rem;
}

.ico-checked-white {
	background:url("../img/appointments/ico_checked_white.png") left top no-repeat; background-size:100% auto;
}
.ico-car-red {
	background:url("../img/appointments/ico_car_red.png") left top no-repeat; background-size:100% auto;
}
.ico-dealer-red {
	background:url("../img/appointments/ico_dealer_red.png") left top no-repeat; background-size:100% auto;
}
.ico-gauge-red {
	background:url("../img/appointments/ico_gauge_red.png") left top no-repeat; background-size:100% auto;
}
.ico-time-red {
	background:url("../img/appointments/ico_time_red.png") left top no-repeat; background-size:100% auto;
}
.ico-question-red {
	background:url("../img/appointments/ico_question_red.png") left top no-repeat; background-size:100% auto;
}
.ico-checked-red-fill {
	 background:url("../img/appointments/ico_check_red_fill.png") left top no-repeat; background-size:100% auto;
}
.icd-phone-red {
	background:url("../img/appointments/ico_phone_call.png") left top no-repeat; background-size:100% auto;
}
.ico-setting-red-circle {
	background:url("../img/appointments/ico_setting_red_circle.png") left top no-repeat; background-size:100% auto;
}
.ico-people-red-circle {
	background:url("../img/appointments/ico_people_red_circle.png") left top no-repeat; background-size:100% auto;
}
.ico-people-red-circle {
	background:url("../img/appointments/ico_people_red_circle.png") left top no-repeat; background-size:100% auto;
}
.ico-eur-red {
	background:url("../img/appointments/ico_eur_red.png") left top no-repeat; background-size:100% auto;
}
.ico-eur-blue {
	background:url("../img/appointments/ico_eur_blue.png") left top no-repeat; background-size:100% auto;
}
.ico-question-red-fill {
	background:url("../img/appointments/ico_question_red_fill.png") left top no-repeat; background-size:contain;
}
.ico-touch-black {
	background:url("../img/appointments/ico_touch_black.png") left top no-repeat; background-size:contain;
}
.ico-question-square-black {
	background:url("../img/appointments/ico_question_square_black.png") left top no-repeat; background-size:contain;
}
.ico-dealer-red-pin {
	background:url("../img/appointments/ico_dealer_red_pin.png") left top no-repeat; background-size:contain;
}
.ico-document-red {
	background:url("../img/appointments/ico_document_red.png") left top no-repeat; background-size:contain;
}
.ico-handle-red {
	background:url("../img/appointments/ico_handle_red.png") left top no-repeat; background-size:contain;
}
.ico-trans-option-red {
	background:url("../img/appointments/ico_trans_option_red.png") left top no-repeat; background-size:contain;
}

/* popup */
.ngdialog.ngdialog-theme-plain {
	display:table; height:100%; padding:0;
}
.ngdialog.ngdialog-theme-plain .ngdialog-content{
	display:table-cell; background:transparent; width:auto; padding:0;
}
.pop-window {
	background:#fff; margin:0 1rem;
}
.pop-window .p_header{
	position:relative; height:4.5rem; background:#bb162b;
}
.pop-window .p_header h3 {
	font-size:1.6rem; color:#fff !important; height:4.5rem; line-height:4.5rem; text-align:center; padding-top:0.3rem;
}
.ngdialog-close {
	display:none;
}
.ngdialog-close.custom {
	position:absolute; top:0; left:1rem; display:block; width:4.5rem; height:4.5rem; text-indent:-9999px; background:url('../img/pbtn_close.png')no-repeat center center; background-size:1.7rem;
}
.pop-window > .ngdialog-message .mt li {
	background:url("../img/li_type_02.png") 0.3rem 0.7rem no-repeat; background-size:0.2rem; line-height:1.4; list-style-type:none; color:#58595b; font-size:1.4rem; padding-left:0.9rem;
}
.pop-window > .ngdialog-message .mt li.tit {
	background:none; color:#1f1f1f; font-size:1.5rem; padding:0; margin-bottom:0.7rem;
}

/* */
.dealer_space h2 {
	padding-bottom:0;
}
.ng-scope .map_space {
	padding-top:0; padding-bottom:0px;
}
.ng-scope .dealer_space {
	height:auto;
}
#gmaps{position:relative;width:100%;min-height:100%;}
#gmaps button{position:absolute;right:.5rem;width:4rem;height:4rem;text-indent:-9999px;}
#gmaps button.btn_now{top:1.1rem;background:url('../img/btn_now.png')no-repeat center center;background-size:3.2rem}
#gmaps button.btn_zoom{top:5.2rem;background:url('../img/btn_zoom.png')no-repeat center center;background-size:3.2rem}

.wrap_btn_round {text-align:center; padding:1rem;}
.wrap_btn_round button {border:none; border-radius: 1.8rem; width:auto !important; height: 3.6rem !important; line-height: 3.6rem !important; background: #bb162b; color: #fff; font-size: 1.6rem; font-weight:bold; letter-spacing:0.5px; padding: 0rem 3.5rem; margin:0;}
/* [kme-map] .btn_now {display: none}
[kme-map] .btn_zoom {top:1.1rem !important} */

#informationLayout {
	padding-bottom:7.5rem;
}
.no-appointment-message {
	border-bottom:1px solid #bbb; color:#999; font-size:1.4rem; text-align:center; padding:0.5rem 4.6rem 1.5rem; margin:0 1rem;
}
.campaign-date {
	color:#333; font-size:1.6rem; text-align:center; padding-top:1rem;
}

.workshop-appointment dt {display:inline-block; border-bottom:1px solid #aaa; color:#666; font-size:1.2rem}
.workshop-appointment dd {color:#999; font-size:1.2rem; padding:0.2rem 0 0.5rem 0.5rem;}
.workshop-appointment dd li {padding-left:1rem; text-indent:-1rem;}

/* ui.select */
.ui-select-container .btn {
	border-radius: 0;
}
.ui-select-container .btn-default {
	border: 1px solid #A1A1A1; border-left:none; background-color: #F0F0F0;
}
.ui-select-bootstrap .ui-select-toggle > .caret {
	border:none; background: url("../img/appointments/ico_arrow_down.png") right top no-repeat; background-size: 3.5rem; top:0; right:0; width: 3.5rem;     height: 3.5rem;
}
.ui-select-container.open .ui-select-toggle > .caret {
	background-position: 0rem -3.3rem;
}
.ui-select-container span.ui-select-placeholder,
.ui-select-container .ui-select-match-text,
.ui-select-container .ui-select-match-text > span {
	border:none; margin: 8px 0 0 -13px;
}
.ui-select-container .ui-select-choices-row-inner > span {
	border:none;
}

.ui-select-bootstrap .ui-select-choices-row.active>a {
	background-color:#7e8083;
}

.ui-select-bootstrap > .ui-select-choices .ui-select-choices-row a,
.ui-select-bootstrap > .ui-select-no-choice .ui-select-choices-row a{
	height:3.5rem; line-height:3.5rem;
}
.ui-select-bootstrap > .ui-select-choices .ui-select-choices-row a span,
.ui-select-bootstrap > .ui-select-no-choice .ui-select-choices-row a span {
	vertical-align:middle;
}
.ui-select-bootstrap > .ui-select-choices, .ui-select-bootstrap > .ui-select-no-choice {
	max-height:18rem;
}

#header.f_popup + #container {padding-top:0;}

.f_popup.search.ng-scope {position:fixed !important;}
.list_space {padding-bottom:3rem;}

/* rz-slider reset */

/*! angularjs-slider - v3.0.0 - 
 (c) Rafal Zajac <rzajac@gmail.com>, Valentin Hervieu <valentin@hervieu.me>, Jussi Saarivirta <jusasi@gmail.com>, Angelin Sirbu <angelin.sirbu@gmail.com> - 
 https://github.com/angular-slider/angularjs-slider - 
 2016-06-02 */
.rzslider {
position: relative; display: block; height:32px; margin: 1rem 3rem; vertical-align: middle; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; 
}

.rzslider.with-legend {
margin-bottom: 40px;
}

.rzslider[disabled] {
cursor: not-allowed;
}

.rzslider[disabled] .rz-pointer {
cursor: not-allowed; background-color: #d8e0f3;
}

.rzslider span {
position: absolute; display: inline-block; white-space: nowrap; border:none;
}

.rzslider .rz-base {
width: 100%; height: 100%; padding: 0;
}

.rzslider .rz-bar-wrapper {
left: 0; z-index: 1; width: 100%; height: 32px; padding-top: 16px; box-sizing: border-box;
}

.rzslider .rz-bar-wrapper.rz-draggable {
cursor: move;
}

.rzslider .rz-bar {
left: 0; z-index: 1; width: 100%; height: 4px; background:none; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;
}

.rzslider .rz-bar.rz-selection {
z-index: 2; background: #aaaaaa; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;
}

.rzslider .rz-pointer {
top:0; z-index: 3; width: 32px; height: 32px; cursor: pointer; background-color: #0db9f0; -webkit-border-radius: 16px; -moz-border-radius: 16px; border-radius: 16px;
}
/*
.rzslider .rz-pointer:after {
position: absolute; top: 12px; left: 12px; width: 8px; height: 8px; background: #ffffff; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; content: '';
}

.rzslider .rz-pointer:hover:after {
background-color: #ffffff;
}
*/

.rzslider .rz-pointer.rz-active {
z-index: 4;
}

.rzslider .rz-pointer.rz-active:after {
background-color: #451aff;
}

.rzslider .rz-pointer.rz-pointer-min {background: url("../img/appointments/btn_scope_min.png") left top no-repeat; background-size: contain;}
.rzslider .rz-pointer.rz-pointer-max {background: url("../img/appointments/btn_scope_max.png") left top no-repeat; background-size: contain;}

.rzslider .rz-bubble {
display:none; bottom: 16px; padding: 1px 3px; color: #55637d; cursor: default;
}

.rzslider .rz-bubble.rz-selection {
top: 16px;
}

.rzslider .rz-bubble.rz-limit {
color: #55637d;
}

.rzslider .rz-ticks {
position: absolute; top: -3px; left: 0; z-index: 1; display: -webkit-flex; display: -ms-flexbox; display: flex; width: 100%; height: 0; padding: 0 11px; margin: 0; list-style: none; box-sizing: border-box; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between;
}

.rzslider .rz-ticks .rz-tick {
width: 10px; height: 10px; text-align: center; cursor: pointer; background: #d8e0f3; border-radius: 50%;
}

.rzslider .rz-ticks .rz-tick.rz-selected {
background: #0db9f0;
}

.rzslider .rz-ticks .rz-tick .rz-tick-value {
position: absolute; top: -30px; transform: translate(-50%, 0);
}

.rzslider .rz-ticks .rz-tick .rz-tick-legend {
position: absolute; top: 24px; max-width: 50px; white-space: normal; transform: translate(-50%, 0);
}

.rzslider .rz-ticks.rz-ticks-values-under .rz-tick-value {
top: initial; bottom: -40px;
}

.rzslider.rz-vertical {
position: relative; width: 4px; height: 100%; padding: 0; margin: 0 20px; vertical-align: baseline;
}

.rzslider.rz-vertical .rz-base {
width: 100%; height: 100%; padding: 0;
}

.rzslider.rz-vertical .rz-bar-wrapper {
top: auto; left: 0; width: 32px; height: 100%; padding: 0 0 0 16px; margin: 0 0 0 -16px;
}

.rzslider.rz-vertical .rz-bar {
bottom: 0; left: auto; width: 4px; height: 100%;
}

.rzslider.rz-vertical .rz-pointer {
top: auto; bottom: 0; left: -14px !important;
}

.rzslider.rz-vertical .rz-bubble {
bottom: 0; left: 16px !important; margin-left: 3px;
}

.rzslider.rz-vertical .rz-bubble.rz-selection {
top: auto; left: 16px !important;
}

.rzslider.rz-vertical .rz-ticks {
top: 0; left: -3px; z-index: 1; width: 0; height: 100%; padding: 11px 0; -webkit-flex-direction: column-reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse;
}

.rzslider.rz-vertical .rz-ticks .rz-tick {
vertical-align: middle;
}

.rzslider.rz-vertical .rz-ticks .rz-tick .rz-tick-value {
top: initial; left: 22px; transform: translate(0, -28%);
}

.rzslider.rz-vertical .rz-ticks .rz-tick .rz-tick-legend {
top: initial; right: 24px; max-width: none; white-space: nowrap; transform: translate(0, -28%);
}

.rzslider.rz-vertical .rz-ticks.rz-ticks-values-under .rz-tick-value {
right: 12px; bottom: initial; left: initial;
}

.gmnoprint {bottom: 33px !important}
.gm-bundled-control-on-bottom {bottom: 130px !important}

/* map sub area */
.map_space {position:relative;width:100%;min-height:100%;padding-top:4.5rem;}
.map_space .map{position:relative;width:100%;height:100%;}
.map_space .map button{position:absolute;right:.5rem;width:4rem;height:4rem;text-indent:-9999px;}
.map_space .map button.btn_now{top:1.1rem;background:url('../img/btn_now.png') no-repeat center center;background-size:3.2rem}
.map_space .map button.btn_zoom{top:5.2rem;background:url('../img/btn_zoom.png') no-repeat center center;background-size:3.2rem}
.map_sub{position:fixed;bottom:2.5rem;left:0;width:100%;height:auto;border-top:2px solid #ccc;}
.map_sub .inside{width:100%;height:100%;padding:1rem;text-align:left;background:rgba(255,255,255,.9);}
.map_sub .inside *{width:85%;padding-left:2.5rem;margin-bottom:.3rem;}
.li_style_map .map_sub button{z-index:1;}
.map_sub button{z-index:20;}
.map_sub .inside .ta_c,.map_sub .inside .btn_white{padding:0;}
.map_sub button.full{padding:1rem 3rem 1rem;background:rgba(255,255,255,.9) url('../img/li_type_move.png') no-repeat 96.5% 1.5rem;background-size:1.1rem;}
.map_sub h2{color:#000;font-size:1.7rem;line-height:2rem;}
.map_sub p{color:#666;font-size:1.4rem;word-break:break-word;line-height:1.6rem;}
.map_sub p.txt_pos{color:#c0c0c0;}
.map_sub p.txt_pos.no_ico{padding-left:2.5rem !important;background:none !important;}
.map_sub.type01 p.txt_pos{padding-left:7.5rem;background:url('../img/itmap_sub_type01.png') no-repeat 2.5rem .1rem;background-size:3.2rem;}
.map_sub.type02 p.txt_pos{padding-left:7.5rem;background:url('../img/itmap_sub_type02.png') no-repeat 2.5rem .1rem;background-size:1.5rem;}
.map_sub.type03 p.txt_pos{padding-left:7.5rem;background:url('../img/itmap_sub_type03.png') no-repeat 2.5rem .1rem;background-size:3.2rem;}

