@import "reset.css";
@import "transition.css";

.ui-mobile {height:100% !important;}

.aipick-wrap {display:flex; flex-direction:column; max-height:100%;}

/* button */
.btn-wrap-right {display:flex; flex-direction:row-reverse; padding-top:1rem;}
.btn-wrap-right button {align-items:flex-end;}

.btn-rect-round {border-radius:0.5rem; background-color:#979797; width:11rem; height:3.5rem; color:#fff; font-size:1.6rem; font-weight:300; margin-left:1rem;}
.btn-rect-round.btn-prime {background-color:#ffaa1a; font-weight:400;}

.btn-close-popup {position:absolute; top:1.5rem; right:1.5rem; width:2.2rem; height:2.2rem;}
.btn-close-popup img {display:block; width:100%;}

/* tab */
.tab-aipick {flex-grow:0; display:flex; flex-direction:row; width:100%; height:4rem; background-color:#081245;}
.tab-aipick a {flex:1; border-bottom:0.4rem solid transparent; height:4rem; line-height:4rem; color:#fff; font-size:1.6rem; text-align:center;}
.tab-aipick a.active {border-bottom:0.4rem solid #ffaa1a;}

/* tab content */
.tab-content {display:block; flex-grow:1; overflow:hidden; overflow-y:auto; -webkit-overflow-scrolling: touch;}

/* recommended list */
.recommended-list-wrap {padding:0.5rem 1.5rem; overflow:hidden; overflow-y:auto;}
.recommended-list li {border-bottom:1px solid #c9c9c9;}
.recommended-list li:last-child {border-bottom:none;}
.recommended-list li a {display:flex; flex-direction: row; justify-content: space-between; padding:1.5rem 0;}
.recommended-list li h2,
.recommended-list li h3 {line-height:2.05rem; color:#000; font-size:1.7rem; margin-bottom:0.5rem;}
.recommended-list li p {line-height:1.6rem; color:#7d7d7d; font-size:1.2rem; font-weight:300; word-wrap:break-word;}
.recommended-list li .left-cont {flex:1 1 auto;}
.recommended-list li .right-cont {flex:0 0 auto; width:10rem; margin-left:1rem;}
.recommended-list li .right-cont span.date {display:block; width:100%; height:2.05rem; color:#b7b7b7; font-size:1.2rem; font-weight:300; text-align:right; padding-top:0.5rem; margin-bottom:0.5rem;}
.recommended-list li .right-cont span.thumb {display:block; border:0.5px solid #979797; width:100%; }
.recommended-list li .right-cont img {display:block; width:100%;}

/* hash filter */
.hash-filter-wrap {width:100%; padding:0.8rem 1.5rem; overflow:hidden; overflow-x:auto; -webkit-overflow-scrolling:touch;}
.hash-filter-list {display:flex; flex-direction: row; flex-wrap:nowrap; justify-content: flex-start; width:auto;}
.hash-filter-list li {position:relative; margin-right:0.8rem;}
.hash-filter-list li input {position:absolute; top:0; left:0;}
.hash-filter-list li label {display:inline-block; border:0.1rem solid rgba(102, 102, 102, 0.3); border-radius:1.3rem; background-color:#fff; height:2.5rem; line-height:2.5rem; color:#000; font-size:1.2rem; white-space: nowrap; word-break: keep-all; padding:0 1rem;}
.hash-filter-list li label span {color:#ffaa1a; vertical-align: middle;}
.hash-filter-list li input:checked + label {border-color:#ffaa1a; background-color:#ffaa1a; color:#fff;}
.hash-filter-list li input:checked + label span {color:#fff;}

/* video list */
.video-list-wrap {padding:0.5rem 1.5rem; overflow:hidden; overflow-y:auto;}
.video-list li {border-bottom:1px solid #c9c9c9;}
.video-list li:last-child {border-bottom:none;}
.video-list li a {display:flex; flex-direction: row; justify-content: space-between; padding:1.5rem 0;}
.video-list li h2 {display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; max-height:4.6rem; line-height:2.3rem; color:#000; font-size:1.7rem; word-break:keep-all; padding:0.2rem 0; margin-bottom:0.5rem; overflow:hidden;}
.video-list li .left-cont {flex:0 0 auto; width:10rem; margin-right:1.5rem;}
.video-list li .left-cont span.thumb {display:block; width:100%;}
.video-list li .left-cont img {display:block; width:100%;}
.video-list li .right-cont {flex:1 1 auto;}
.video-list li .right-cont span.date {display:block; width:100%; color:#b7b7b7; font-size:1.2rem; font-weight:300;}

/* detail layer wrap */
.detail-layer-wrap {position:absolute; top:0; left:0; display:none; background-color:#fff; width:100%; height:100%;}
.detail-layer-wrap .detail-content {flex:1; padding:1.5rem; padding-top:0; overflow:hidden; overflow-y:auto; -webkit-overflow-scrolling:touch;}
.detail-layer-wrap .sticky-header {flex:0 0 auto; height:4.5rem; padding:0 1.5rem;}
.detail-layer-wrap h2.tit-h2 {color:#000; font-size:1.8rem; padding-top:1.5rem;}
.detail-layer-wrap h3.tit-h3 {color:#000; font-size:1.6rem; margin-top:4rem; margin-bottom:1rem;}
.detail-layer-wrap .disc {color:#000; font-size:1.4rem; word-break: keep-all; padding-bottom:1rem;}
.detail-layer-wrap .datetime {display:block; color:#b7b7b7; font-size:1.2rem; font-weight:300; text-align:right; margin-bottom:0.5rem;}
.detail-layer-wrap .chart-wrap {border:1px solid #979797;}
.detail-layer-wrap .chart-wrap img {display:block; width:100%;}
.detail-layer-wrap .tbl-grid {table-layout:fixed; width:100%; border-collapse: collapse; border-bottom:1px solid #e0e0e0; backface-visibility: initial;}
.detail-layer-wrap .tbl-grid thead th {border-top:1px solid #666666; border-right:1px solid #e0e0e0; background-color:#f7f7f7; height:3.5rem; color:#666; font-size:1.2rem; text-align:center;}
.detail-layer-wrap .tbl-grid thead th:last-child {border-right:none;}
.detail-layer-wrap .tbl-grid tbody th,
.detail-layer-wrap .tbl-grid tbody td {border-top:1px solid #e0e0e0; border-right:1px solid #e0e0e0; background-color:#fff; height:3.5rem; color:#000; font-size:1.2rem; text-align:right; padding-right:0.2rem;}
.detail-layer-wrap .tbl-grid tbody th {background-color:#f7f7f7; color:#666; text-align:center; padding:0;}
.detail-layer-wrap .tbl-grid tbody td:last-child {border-right:none;}
.detail-layer-wrap .tbl-grid tbody td.txt-center {text-align:center;}
.detail-layer-wrap .tbl-grid tbody tr.red th,
.detail-layer-wrap .tbl-grid tbody tr.red td {color:#ff3b53;}

/* condition list */
.condition-list {position:relative; display:flex; flex-direction:row; justify-content:space-between; flex-wrap:wrap;}
.condition-list li {width:48%; margin-bottom:0.7rem;}
.condition-list li > button {border:1px solid #d1d1d1; border-radius:0.5rem; background-color:#fff; width:100%; height:3rem; color:#aeaeae; font-size:1.2rem;}
.condition-list li.on > button {border-color:#ffaa1a; color:#000;}
.condition-list li div {position:absolute; top:0; left:0; display:none; flex-direction: column; align-items: center; border:1px solid #d1d1d1; border-radius:0.5rem; background-color:#fff; width:100%; height:100%; padding:1rem 1.5rem;}
.condition-list li div p {flex:1; line-height:2rem; color:#666; font-size:1.2rem; overflow:hidden; overflow-y:auto; -webkit-overflow-scrolling:touch; margin-bottom:1rem;}
.condition-list li div button {width:80px; height:3rem; margin:0;}
.condition-list li div.active {display:flex; animation:fadein 0.5s;}

/* relation news list */
.relation-news-list {}
.relation-news-list li {border-bottom:1px solid #d9d9d9; padding:0.7rem 0.5rem;}
.relation-news-list li:last-child {border:none;}
.relation-news-list li h2 {color:#3c3c3c; font-size:1.4rem; text-overflow:ellipsis; margin-bottom:0.5rem;}
.relation-news-list li div {display:flex; flex-direction:row; justify-content:space-between;}
.relation-news-list li div span {color:#adadad; font-size:1.2rem;}

/* youtube */
.embed-responsive {position: relative; padding-bottom: 56.25%; /* 16:9 */ height: 0;}
.embed-responsive iframe {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

/* keyframes */
@keyframes fadein {
	from {
		opacity:0;
	}

	to {
		opacity:1;
	}
}