<section>
	<!-- progress step -->
	<div class="progress-wrap">
		<div kme-progress-step></div>
	</div>
	<div class="container-fluid">
		<form>

			<!-- Caleandar를 표시한다. -->
			<div kme-calendar></div>

			<!-- Campaign List를 읽어온다. -->
			<ul class="list-theme1 no-margin">
				<li 
					ng-class="{
						'list-unread':!campaign.CampaignRead
					}" 
					ng-repeat="campaign in campaigns track by $index"
					ng-click="viewCampaign(campaign, $index)"
				>
					<span class="icon"
									ng-class="{
										open: selectedCampaign == $index
									}"
								>
					</span>

					<!-- Campaign List -->
					<div class="campaign-list">
						{{ campaign.CampaignTitle }}
						<span>{{ campaign.CampaignStartDate }} ~ {{ campaign.CampaignEndDate }}</span>
					</div>
					
					<!-- campaign Detail -->
					<div class="campaign-detail">
						<div class="row" 
									ng-show="selectedCampaign == $index"
								>
							<div class="col-xs-12 img_space">
								<p kme-preload>
									<img ng-src="{{ campaignDetail.CampaignImageUrl }}" alt=""
																						kme-img-error
																					>
								</p>
							</div>
							<div class="txt_space">
								<p class="p1">{{ campaignDetail.CampaignText }}</p>
							</div>
						</div>
					</div>
				</li>
			</ul>

			<!-- Question / Callback Dealer -->
			<div class="form-group kme-panel-group2 no-margin">
				<div class="trans-option"
								ng-click="toggleTransportation()"
								ng-class="{
									 'trans-select-option'	: transportation.selectOptionIdx
									,'trans-select-open'	: transportation.showTransportOption
								}"
							>
					<i class="ico-default-type ico-trans-option-red"></i>
					{{ 'Transportation Options' | i18n:'WW_3' }}
					<div class="pull-right">
						<i class="ico-default-type ico-down-red" 
										ng-class="{
											 'ico-up-red': transportation.showTransportOption
											,'ico-down-red': !transportation.showTransportOption
										}"
									></i>
					</div>
				</div>
				<ul class="list-group" 
									ng-show="transportation.showTransportOption"
								>
					<li class="list-group-item" ng-repeat="transport in transports">
						<input type="radio" name="transport" 
													value = "{{transport.ValueDescription}}"
													ng-model="$parent.selectedTransportOption"
													ng-click="transportation.selectTransOption()"> 
						{{ transport.transportOptionString }}
					</li>
				</ul>
			</div>

			<div class="form-group chk-call-back" style="padding-top:1rem;">
				<input type="checkbox" ng-model="callbackByDealer">
				<label for="input1">{{ 'Call Back from Dealer' | i18n:'W3_3' }}</label>
			</div>
		</form>
	</div>
</section>
<div class="btn-fix text-center">
	<!-- <button class="btn btn-default" onclick="history.go(-1);return false;">Back</button> -->
	<button class="btn btn-red-round" ng-click="nextstep()">{{ 'Continue' | i18n:'W0_18' }}</button>
</div>