<section>
	<div class="container-fluid">
		<div class="row">
			<p class="comment1">{{ 'The list of cars owned by you' | i18n:'B1_26' }}</p>
			<ul class="list-car-group pad-t-1rem">
				<li  class="list-group-item" 
								ng-repeat="vehicle in vehicles track by $index"
								ng-click="selectedVehicle($index)"
							>
					<span class="col-xs-1 check-rdo">
						<input type="radio" name="optvehicle"
													value={{$index}}
													ng-model="$parent.selectedMyVehicle"
												>
					</span>
					<span class="col-xs-11 border-box">
						<div kme-preload>
							<img ng-src="{{ getVehicleImage($index) }}" alt="" 
																		kme-img-error
																	>
						</div>
						<span>{{vehicle.VehicleName}}</span>
						<i ng-show="isShowPlate">
							{{ 'Plate' | i18n:'PN_01' }}: {{vehicle.Licenseplate}}
						</i>
					</span>
				</li>
			</ul>
		</div>
	</div>
</section>
<div class="btn-fix text-center">
	<button class="btn btn-red-round" ng-click="nextstep()">{{ 'Select' | i18n:'B1_4' }}</button>
</div>

