.over-hidden {overflow:hidden;}

/* dummy css */
.content-wrap {position:relative; background:#fff; width:100%; height:100%; overflow:hidden; transition:0.5s; z-index:50;}
.content-wrap.show-menu {transform:translate3d(-75vw, 0,0) scale(0.9); box-shadow:0px 10px 30px 5px rgba(0,0,0,0.2);}

.bg-gray {background:#f6f6f6 !important;}
.bg-white {background:#ffffff !important;}
.bg-half {background:linear-gradient(to bottom, #f6f6f6 14rem, #ffffff 14rem) !important;}
/* main content wrap */
.main-wrap {position:relative; background:#fff; width:100%; height:100%; overflow:hidden; overflow-y:auto; -webkit-overflow-scrolling: touch; z-index:10;}
.layer-page-wrap {position:static; z-index:20;}

/* GNB */
.menu-wrap {position:fixed; top:0; right:0; width:100%; height:100%; overflow:hidden; padding-left:25vw; z-index:30;}
.menu-cover {position:fixed; top:0; left:0; display:none; width:25vw; height:100%; z-index:60;}
.profile-wrap {padding:4rem 0;}
.profile-wrap p {color:#666; font-size:1.4rem; padding:1rem;}
.sub-menu-list li {width:100%;}
.sub-menu-list li a {display:inline-block; background: #e0e0e0; width:100%; height:4rem; line-height:2rem; color:#666; font-size:1.4rem; padding:1rem;}

/* .layer-content {position:fixed; width:100%; height:100%; background:#fff; overflow:hidden;} */
.page-wrap {width:100%; height:100%; background:#f6f6f6; overflow:hidden !important; z-index:10;}
.page-wrap.hide {position:absolute; top:0; left:100%;}
.nav-header {position:absolute; top:0; left:0; width:100%; height:4rem; line-height:4rem; padding:0 1rem;}
.select-page-wrap {position:absolute; top:0; left:0;}
.select-layer-wrap {position:absolute; bottom:-100%; left:0; width:100%; height:100%; background:transparent; z-index:30;}
.back-pannel {position:absolute; top:0; left:0; display:none; width:100%; height:100%; background:rgba(0,0,0,0.5); z-index:25;}
.back-pannel.show {display:block;}

/* Select Layer */
.select-layer {position:absolute; width:100%; height:100%; background:transparent; transform:translate3d(0,0,0); overflow:hidden; overflow-y:auto; transition:linear 0.3s;}
.select-layer .btn-select-layer-close {position:absolute; top:-4.5rem; left:50%; display:inline-block;; border:none; border-radius:1.8rem; background:#D52536; width:3.5rem; height:3.5rem; color:#fff; font-size:2.2rem; margin:0 auto; transform:translateX(-50%)}
.select-layer .btn-select-layer-close i {height:3.5rem; line-height:3.5rem;}
.select-layer .btn-select-layer-confirm {display:block; width:100%; height:4.5rem; border:none; background:#D52536; color:#fff; font-size:1.5rem;}
.select-layer.show {transform:translate3d(0, -100%, 0);}

.layer-popup-wrap {position:fixed; top:0; left:0; visibility:hidden; width:100%; height:100%; z-index:70; transform:translate3d(0, 0,0) scale(1); transition:0.5s;}
.layer-popup-wrap.show {visibility:visible;}

.btn-back {position:absolute; top:0.5rem; left:1rem; display:inline-block; border:1px solid #ccc; height:3rem; line-height:2rem; color:#666; font-size:1.2rem; padding:0.5rem 1rem;}

/* Title */
.tit-h2 {color:#58595B; font-size:1.8rem; padding:0 1.5rem; margin:0;}
.tit-h2 span {position:relative; left:0; transform: translate(0, 0); display:inline-block; height:5.5rem; line-height:5.5rem; font-size:1.8rem; transition:0.5s;}
.tit-h2.fixed {position:fixed; top:0; left:0; background:#fff; width:100%; z-index:3;}
.tit-h2.nav-up {box-shadow:0 0 1rem 0.5rem rgba(0,0,0, 0.1);}
.tit-h2.nav-up span {left:50%; transform: translate(-50%, 0); height:3.5rem; line-height:3.5rem; font-size:1.4rem; }


/* toogle menu button */
.controll-btn-wrap {position:absolute; top:1rem; right:1rem; display:inline-block; height:4rem; line-height:4rem; z-index:80; transition:0.5s;}
.controll-btn-wrap .btn-toggle-menu {display:block; color:#666; width:3rem; height:3rem; line-height:3rem; font-size:1.2rem; text-align:center; transition:0.5s;}
.controll-btn-wrap .btn-toggle-menu i {width:3rem; height:3rem; line-height:3rem; font-size:1.8rem; text-align:center;}
.controll-btn-wrap .btn-toggle-menu .icon {display:none;}
.controll-btn-wrap .btn-toggle-menu .fas {display:block;}
.controll-btn-wrap .btn-toggle-menu.show-menu .icon {display:inline-block; font-size:2.4rem;}
.controll-btn-wrap .btn-toggle-menu.show-menu .fas {display:none;}
.controll-btn-wrap.nav-up {top:0rem;}
.top-button-area {position:absolute; top:0; left:0; background:#f6f6f6; width:100%; height:5rem; line-height:4rem; padding:1rem 1rem 0; z-index:20;}
.top-button-area button {display:block; border:none; background:transparent; width:4rem; height:3rem; color:#7E8083; font-size:2rem;}
.top-button-area.white {background:#fff;}

/* Loading */
.loading-wrap {position:fixed; top:0; left:0; width:100%; height:100%; background:transparent; z-index:100;}
.loading-wrap .loading-logo-wrap {position:absolute; top:0; left:0; width:100%; height:50%; background:#E9EAEB; transform:translate3d(0,0,0); transition:linear 0.5s;}
.loading-wrap .loading-logo-wrap .logo {position:absolute; bottom:3rem; left:50%; display:block; transform:translateX(-50%); width:15rem;}
.loading-wrap .loading-progress-wrap {position:absolute; bottom:0; left:0; width:100%; height:50%; background:#E9EAEB; transform:translate3d(0,0,0); transition:linear 0.5s;}
.loading-wrap .loading-progress-wrap .progress-wrap {position:absolute; top:2rem; left:50%; transform:translateX(-50%); border-radius:0.3rem; background:#fff; width:15rem; height:1rem; overflow:hidden;}
.loading-wrap .loading-progress-wrap .progress-wrap div {border-radius:0.3rem; background:#D52536; width:0; height:1rem;}

.loading-wrap.complete .loading-logo-wrap {transform:translate3d(0,-100%,0);}
.loading-wrap.complete .loading-progress-wrap {transform:translate3d(0,100%,0);}

/* Main */
.main-swipe-wrap, .main-swipe-cont-wrap, .main-swipe-cont, .main-swipe-cont>li {height: 100%;}
.main-swipe-cont-wrap .main-swipe-cont>li {position: relative; float: left; width: 100%; padding-bottom: 5rem; overflow: hidden; overflow-y: auto; -webkit-overflow-scrolling: touch;}
.main-swipe-cont .main-swipe-cont-dashboard {background:linear-gradient(to bottom, #E9EAEB 80%, #ffffff 80%);}
.main-swipe-cont .main-swipe-cont-openlead {background:linear-gradient(to bottom, #ffffff 6.5rem, #f6f6f6 6.5rem);}
.main-swipe-cont .main-swipe-cont-mytask {background:linear-gradient(to bottom, #ffffff 6.5rem, #f6f6f6 6.5rem);}
.main-swipe-cont .main-swipe-cont-performance {background:linear-gradient(to bottom, #ffffff 6.5rem, #f6f6f6 6.5rem);}
.main-swipe-cont .scroll-wrap {height:100%; overflow:hidden; overflow-y:auto; -webkit-overflow-scrolling:touch; padding-top:5.5rem; padding-bottom:2rem;}

/* main bottom navigation */
.main-tab-navi {height: 5rem; position: fixed; bottom: 0; width: 100%; overflow: hidden; white-space: nowrap; box-shadow:0 0 1rem 0.2rem rgba(0,0,0,0.2);}
.main-tab-navi li {float:left; display: inline-block; width: 25%;}
.main-tab-navi li a {display: block; position: relative; height: 5rem; background: rgba(255, 255, 255, 1); text-align: center; color: #7E8083; padding-top:1.4rem;}
.main-tab-navi li a img {display:block; width:2.2rem; margin:0 auto;}
.main-tab-navi li a .on {display:none;}
.main-tab-navi li.on a {color: #bb162b;}
.main-tab-navi li.on a .off {display:none;}
.main-tab-navi li.on a .on {display:inline-block;}
.main-tab-navi li .badge {position:absolute; top:0.7rem; left:50%; display:inline-block; border-radius:0.7rem; background:#D52536; width:auto; height:1.4rem; line-height:1.4rem; color:#fff; font-size:1rem; padding:0 0.5rem;}

/* Main Tab : Dashboard */
.user-info-wrap {position:absolute; top:5%; left:4rem;}
.user-info-wrap .name-wrap {color:#7E8083; font-size:1.5rem;}
.user-info-wrap .slogan {color:#444444; font-size:2.1rem; margin-top:2%;}
.user-info-wrap .quick-btn-group {display:inline-block; margin-top:10%;}
.user-info-wrap .quick-btn-group li {position:relative; float:left; display:inline-block; margin-right:1rem;}
.user-info-wrap .quick-btn-group li a {display:inline-block;}
.user-info-wrap .quick-btn-group li .icon-wrap {display:block; border-radius:1.5rem; background:#fff; width:3rem; height:3rem; text-align:center; padding-top:0.5rem;}
.user-info-wrap .quick-btn-group li .icon-wrap img {display:block; width:2rem; height:2rem; margin:0 auto;}
.user-info-wrap .quick-btn-group li em {display:block; width:100%; color:#7E8083; font-size:1.2rem; text-align:center; padding-top:0.5rem;}
.user-info-wrap .quick-btn-group li .cnt {position:absolute; top:-0.3rem; right:-0.5rem; border-radius:1.4rem; background:#D52536; width:1.4rem; height:1.4rem; line-height:1.4rem; color:#fff; font-size:0.9rem; text-align:center;}

/* .dashboard-lead-list-wrap {position:absolute; bottom:15%; left:0; width:100%; height: 55%; padding-left:3.5rem; overflow:hidden;} */
.dashboard-lead-list-wrap {position:absolute; bottom:15%; left:0; width:100%; height: 55%; padding-left:3.5rem; overflow:hidden; overflow-x:auto; -webkit-overflow-scrolling:touch;}
#dashboard-lead-list {width:240vw; height:100%;}
#dashboard-lead-list>ul {position:relative; height:100%;}
#dashboard-lead-list>ul>li {position:relative; float:left; display:inline-block; width:80vw; height:100%; padding-right:6vw;}
#dashboard-lead-list>ul>li a {position:relative; display:inline-block; box-shadow:0 0 5px -33px rgba(0,0,0, 0.2); border-radius:1rem; width:100%; height:100%; margin-bottom:2rem;}
#dashboard-lead-list>ul>li a p {position:absolute; bottom:52%; left:1.5rem; color:#fff; font-size:2rem;}
#dashboard-lead-list>ul>li a p strong {display:block; font-size:5rem; padding:0; margin-bottom:5%;}
#dashboard-lead-list>ul>li .summary-wrap {position:absolute; bottom:7%; left:-0.5rem; border-radius:0.5rem; box-shadow:0 0 5px 3px rgba(0,0,0, 0.2); background:#fff; width:95%; height:40%; padding:6% 0 2% 0;}
#dashboard-lead-list>ul>li .summary-wrap:before {content:''; display:inline-block; width:0; height:100%; overflow:hidden; vertical-align:bottom;}
#dashboard-lead-list>ul>li .summary-wrap>ul{display:inline-block; background:transparent url('../images/img_lead_arrow_1.png') center 6.5rem no-repeat; background-size:90%; width:98%; height:100%; max-height:12.5rem; padding-left:21%; padding-right:13%; overflow:hidden; vertical-align:bottom;}
#dashboard-lead-list>ul>li .summary-wrap>ul li {position:relative; float:left; display:inline-block; text-align:center;}
#dashboard-lead-list>ul>li .summary-wrap>ul li:last-child {float:right;}
#dashboard-lead-list>ul>li .summary-wrap>ul li span {display:block; border-radius:3rem; width:6rem; height:6rem; line-height:6rem; color:#fff; font-size:3.5rem; text-align:center;;}
#dashboard-lead-list>ul>li .summary-wrap>ul li em {display:block; width:6rem; color:#7E8083; font-size:1rem; text-align:center; padding-top:3rem;}
#dashboard-lead-list>ul>li .summary-wrap>ul li span.delayed-light {background:#FF6574;}
#dashboard-lead-list>ul>li .summary-wrap>ul li span.delayed-deep {background:#FF4B5D;}
#dashboard-lead-list>ul>li .summary-wrap>ul li span.today-light {background:#D2BAA2;}
#dashboard-lead-list>ul>li .summary-wrap>ul li span.today-deep {background:#CAAE92;}
#dashboard-lead-list>ul>li .summary-wrap>ul li span.todo-light {background:#B5C0C9;}
#dashboard-lead-list>ul>li .summary-wrap>ul li span.todo-deep {background:#A8B5C0;}
#dashboard-lead-list>ul>li.delayed a {background:#D52536 url("../images/img_delayed.png") right 2rem top 2rem no-repeat; background-size:3.5rem;}
#dashboard-lead-list>ul>li.today a {background:#B58D65 url("../images/img_mytask.png") right 2rem top 2rem no-repeat; background-size:3.5rem;}
#dashboard-lead-list>ul>li.todo a {background:#8497A6 url("../images/img_mytask.png") right 2rem top 2rem no-repeat; background-size:3.5rem;}
#dashboard-lead-list>ul>li.delayed .summary-wrap>ul {background-image:url('../images/img_lead_arrow_2.png'); padding-left:13%; padding-right:21%;}
#dashboard-lead-list>ul>li.today .summary-wrap>ul {background-image:url('../images/img_lead_arrow_2.png'); padding-left:13%; padding-right:21%;}
#dashboard-lead-list>ul>li.todo .summary-wrap>ul {background-image:url('../images/img_lead_arrow_3.png');}
/* #dashboard-lead-list {width:80vw; height:100%;}
#dashboard-lead-list>ul {position:relative; height:100%;}
#dashboard-lead-list>ul>li {position:relative; display:inline-block; height:100%; padding-right:6vw;}
#dashboard-lead-list>ul>li a {position:relative; display:inline-block; box-shadow:0 0 5px -33px rgba(0,0,0, 0.2); border-radius:1rem; width:100%; height:100%; margin-bottom:2rem;}
#dashboard-lead-list>ul>li a p {position:absolute; bottom:52%; left:1.5rem; color:#fff; font-size:2rem;}
#dashboard-lead-list>ul>li a p strong {display:block; font-size:5rem; padding:0; margin-bottom:5%;}
#dashboard-lead-list>ul>li .summary-wrap {position:absolute; bottom:7%; left:-0.5rem; border-radius:0.5rem; box-shadow:0 0 5px 3px rgba(0,0,0, 0.2); background:#fff; width:95%; height:40%; padding:6% 0 2% 0;}
#dashboard-lead-list>ul>li .summary-wrap:before {content:''; display:inline-block; width:0; height:100%; overflow:hidden; vertical-align:bottom;}
#dashboard-lead-list>ul>li .summary-wrap>ul{display:inline-block; background:transparent url('../images/img_lead_arrow_1.png') center 6.5rem no-repeat; background-size:90%; width:98%; height:100%; max-height:12.5rem; padding-left:21%; padding-right:13%; overflow:hidden; vertical-align:bottom;}
#dashboard-lead-list>ul>li .summary-wrap>ul li {position:relative; float:left; display:inline-block; text-align:center;}
#dashboard-lead-list>ul>li .summary-wrap>ul li:last-child {float:right;}
#dashboard-lead-list>ul>li .summary-wrap>ul li span {display:block; border-radius:3rem; width:6rem; height:6rem; line-height:6rem; color:#fff; font-size:3.5rem; text-align:center;;}
#dashboard-lead-list>ul>li .summary-wrap>ul li em {display:block; width:6rem; color:#7E8083; font-size:1rem; text-align:center; padding-top:3rem;}
#dashboard-lead-list>ul>li .summary-wrap>ul li span.delayed-light {background:#FF6574;}
#dashboard-lead-list>ul>li .summary-wrap>ul li span.delayed-deep {background:#FF4B5D;}
#dashboard-lead-list>ul>li .summary-wrap>ul li span.today-light {background:#D2BAA2;}
#dashboard-lead-list>ul>li .summary-wrap>ul li span.today-deep {background:#CAAE92;}
#dashboard-lead-list>ul>li .summary-wrap>ul li span.todo-light {background:#B5C0C9;}
#dashboard-lead-list>ul>li .summary-wrap>ul li span.todo-deep {background:#A8B5C0;}
#dashboard-lead-list>ul>li.delayed a {background:#D52536 url("../images/img_delayed.png") right 2rem top 2rem no-repeat; background-size:3.5rem;}
#dashboard-lead-list>ul>li.today a {background:#B58D65 url("../images/img_mytask.png") right 2rem top 2rem no-repeat; background-size:3.5rem;}
#dashboard-lead-list>ul>li.todo a {background:#8497A6 url("../images/img_mytask.png") right 2rem top 2rem no-repeat; background-size:3.5rem;}
#dashboard-lead-list>ul>li.delayed .summary-wrap>ul {background-image:url('../images/img_lead_arrow_2.png'); padding-left:13%; padding-right:21%;}
#dashboard-lead-list>ul>li.today .summary-wrap>ul {background-image:url('../images/img_lead_arrow_2.png'); padding-left:13%; padding-right:21%;}
#dashboard-lead-list>ul>li.todo .summary-wrap>ul {background-image:url('../images/img_lead_arrow_3.png');} */

/* Main Tab : Open Lead */
.tab-slide-custom-wrap {width:100%; padding:0 2rem;}
.tab-slide-custom {width:100%;}
.tab-slide-custom>ul {display:inline-block;}
.tab-slide-custom>ul>li {position:relative; float:left;}
.tab-slide-custom>ul>li>a {display:block; border-radius:0.5rem; width:10rem; height:4.5rem; color:#fff; font-size:1.2rem; padding:0 1rem; margin-right:0.7rem; -webkit-user-drag: none; transition:0.3s;}
.tab-slide-custom>ul>li>a:after {content:''; display:inline-block; width:0; height:100%; font-size:0; overflow:hidden; vertical-align:middle;}
.tab-slide-custom>ul>li>a span {display:inline-block; vertical-align:middle;}
.tab-slide-custom>ul>li>a em {position:absolute; top:0; right:1.7rem; display:inline-block; height:4.5rem; line-height:4.5rem; color:#fff; font-size:2.5rem;}
.tab-slide-custom>ul>li.red a {background-color:#D52536;}
.tab-slide-custom>ul>li.gold a {background-color:#B58D65;}
.tab-slide-custom>ul>li.sky a {background-color:#8497A6;}
.tab-slide-custom>ul>li.dark-gray a {background-color:#7E8083}
.tab-slide-custom>ul>li.gray a {background-color:#ABABAB}
.tab-slide-custom>ul>li.orange a {background-color:#FFA43B}
.tab-slide-custom>ul>li.active a {width:16.5rem;}
.tab-slide-custom-navi {display:inline-block; margin-top:1rem;}
.tab-slide-custom-navi li {float:left; display:inline-block; border-radius:0.4rem; background:rgba(132,151,166, 0.4); width:0.8rem; height:0.8rem; padding:0; margin:0; margin-left:0.8rem; overflow:hidden;}
.tab-slide-custom-navi li.active {background:rgba(132,151,166, 1);}

/* Lead Search Wrap */
.search-wrap {position:relative; box-shadow:0 0.2rem 1rem 0.2rem rgba(0,0,0, 0.2); margin:1.5rem 1.5rem 0;}
.search-wrap>i {position:absolute; top:0; left:0; width:4rem; height:4rem; line-height:4rem; color:#C4C6C8; font-size:2rem; text-align:center;}
.search-wrap fieldset {display:block; width:100%; height:4rem; line-height:4rem;}
.search-wrap fieldset input {display:block; border-radius:0.5rem; background:#fff; width:100%; height:4rem; font-size:1.4rem; padding:0 4rem;}
.search-wrap fieldset button {position:absolute; top:0; right:0; border:none; background:none; width:4rem; line-height:4rem; color:#7E8083; font-size:2rem; text-align:center;}

/* Open Lead - Lead List */
.lead-list-wrap {padding:0 1.5rem;}
.lead-list-wrap>li {border-radius:1rem; box-shadow:0 0.5rem 0.5rem 0.1rem rgba(0,0,0,0.1); background:#fff; margin-top:1rem;}
.lead-list-wrap>li>h3 {position:relative; color:#58595B; font-size:1.4rem;}
.lead-list-wrap>li>h3 .name {display:inherit; line-height:4rem; color:#58595B; padding:0 3.5rem;}
.lead-list-wrap>li>h3 .contact-name {display:none; border-radius:0.5rem; background:#f3f4f4; height:3rem; line-height:3rem; color:#58595B; font-size:1.3rem; padding:0 0.5rem; margin:0 1rem 1rem;}
.lead-list-wrap>li>h3>i {position:absolute; top:0; left:0.5rem; width:3rem; height:4rem; line-height:4rem; color:#7E8083; font-size:1.4rem; text-align:center;}
.lead-list-wrap>li>h3> .cnt {position:absolute; top:1rem; right:1rem; display:inline-block; border-radius:0.3rem; background:rgba(114, 93, 71, 0.14); width:2rem; height:2rem; line-height:2rem; color:#725D47; font-size:1rem; text-align:center;}
.lead-list-wrap .lead-list {display:none; overflow:hidden;}
.lead-list-wrap .lead-list li {position:relative; padding:0;}
.lead-list-wrap .lead-list li .lead-type {position:absolute; top:50%; left:1rem; width:5rem; height:6.5rem; margin-top:-3.25rem;}
.lead-list-wrap .lead-list li .lead-type i {display:block; width:100%; height:2.3rem; line-height:2.3rem; color:#7E8083; font-size:2.4rem; text-align:center;}
.lead-list-wrap .lead-list li .lead-type span {display:block; line-height:1.4rem; color:#7E8083; font-size:1.2rem; text-align:center; word-break:break-word; text-align:center; padding-top:0.3rem;}
.lead-list-wrap .lead-list li a {position:relative; display:block; background:#fff; width:100%; padding:0 1rem; z-index:1;}
.lead-list-wrap .lead-list li a>div {border-top:1px solid #E4E5E6; padding:1rem 0 1rem 5rem;}
.lead-list-wrap .lead-list li button {position:absolute; top:0; right:0; background:#7E8083; width:6.5rem; height:100%;}
.lead-list-wrap .lead-list li button i {color:#fff; font-size:1.8rem !important;}
.lead-list-wrap .lead-list li button span {display:block; color:#fff; padding-top:1rem;}
.lead-list-wrap .lead-list li button.disabled {background:#C4C6C8;}
.lead-list-wrap .lead-list li>a>div>div {border-left:1px solid #E4E5E6; padding-left:1rem;}
.lead-list-wrap .lead-list li>a>div>div h4 {color:#444; font-size:1.3rem; padding:0; margin:0; margin-bottom:0.5rem;}
.lead-list-wrap .lead-list li>a>div>div h4 sup {display:inline-block; top:0; border-radius:0.2rem; width:0.4rem; height:0.4rem; vertical-align:top;}
.lead-list-wrap .lead-list li>a>div>div h4 sup.reply {background:#FFA43B;}
.lead-list-wrap .lead-list li>a>div>div h4 sup.past {background:#D52536;}
.lead-list-wrap .lead-list li>a>div>div h4 sup.today {background:#B58D65;}
.lead-list-wrap .lead-list li>a>div>div h4 sup.todo {background:#8497A6;}
.lead-list-wrap .lead-list li>a>div>div p {color:#58595B; font-size:1.2rem;}
.lead-list-wrap .lead-list li>a>div>div p i {display:inline-block; width:1.5rem; color:#7E8083; text-align:left;}
.lead-list-wrap .lead-list li>a>div>div .lead-progress {position:relative; width:100%; height:1.5rem; padding:0.6rem 2.5rem 0.6rem 0; margin-top:0.2rem;}
.lead-list-wrap .lead-list li>a>div>div .lead-progress .wrap {position:relative; display:block; border-radius:0.2rem; background:#E4E5E6; width:100%; height:0.3rem; overflow:hidden;}
.lead-list-wrap .lead-list li>a>div>div .lead-progress .wrap span {position:absolute; top:0; left:0; display:block; border-radius:0.2rem; width:0; height:0.3rem; transition:0.3s;}
.lead-list-wrap .lead-list li.over .lead-progress {background:url('../images/icon/icon_arlam_over.png') right 0.5rem center no-repeat; background-size:contain;}
.lead-list-wrap .lead-list li.over .lead-progress .wrap span {background:#EDA4AB; width:100%;}
.lead-list-wrap .lead-list li.delayed .lead-progress {background:url('../images/icon/icon_arlam_delayed.png') right 0.5rem center no-repeat; background-size:contain;}
.lead-list-wrap .lead-list li.delayed .lead-progress .wrap span {background:#D2B599; width:50%;}
.lead-list-wrap .lead-list li.new .lead-progress {background:url('../images/icon/icon_arlam_new.png') right 0.5rem center no-repeat; background-size:contain;}
.lead-list-wrap .lead-list li.new .lead-progress .wrap span {display:none; width:0;}
.lead-list-wrap .lead-list li:last-child button {border-bottom-right-radius:0.5rem;}

.lead-list-wrap>li.show .lead-list {display:block;}
.lead-list-wrap>li.show h3 .cnt {display:none;}
.lead-list-wrap>li.show h3 .contact-name {display:block;}

/* Open Lead - Takeover Lead List */
.takeover-lead-list {margin:0 1.5rem;}
.takeover-lead-list dt {position:relative; border-radius:0.5rem; background:#ABABAB; height:4rem; line-height:4rem; color:#fff; font-size:1.4rem; padding:0 3.5rem; margin-top:1rem;}
.takeover-lead-list dt .name {display:inherit; color:#fff;}
.takeover-lead-list dt i {position:absolute; top:0; left:0.5rem; width:3rem; height:4rem; line-height:4rem; color:#fff; font-size:1.8rem; text-align:center;}
.takeover-lead-list dd {display:none;}
.takeover-lead-list dd.show {display:block;}
.takeover-lead-list dd .lead-list-wrap {padding:0 0.5rem;}


/* My Task - First Contact Summary */
.first-contact-summary-wrap {background:linear-gradient(to bottom, #ffffff 1rem, #e4e5e6 1rem); height:8.5rem; overflow:hidden; overflow-x:auto; -webkit-overflow-scrolling:touch; padding:0.5rem 0; margin-bottom:1.5rem;}
.first-contact-summary-wrap ul {display:inline-block; width:max-content; padding-right:1rem;}
.first-contact-summary-wrap ul li {position:relative; float:left; margin-left:1rem;}
.first-contact-summary-wrap ul li a {display:block; border-radius:0.5rem; box-shadow:0 0 0.5rem 0.2rem rgba(0,0,0,0.2); background:#fff; width:11rem; height:6.5rem; padding:0.7rem;}
.first-contact-summary-wrap ul li a strong {display:inline-block; color:#D52536; font-size:1.2rem; margin-bottom:1rem;}
.first-contact-summary-wrap ul li a span {display:block; line-height:1.5rem; color:#444444; font-size:1.3rem;}
.first-contact-summary-wrap ul li a i {position:absolute; top:0.8rem; right:0.8rem; color:rgba(189,191,192,0.5); font-size:1.2rem;}

.first-contact-wrap {position:absolute; top:0; left:0; width:100%; height:100%; padding-top:3.5rem; padding-bottom:4.5rem; overflow:hidden; transform:translate3d(0, -35%, 0) scale(0); transition:0.3s;}
.first-contact-wrap h4 {position:absolute; top:3.5rem; left:0; background:#fff; width:100%; height:3rem; line-height:2.5rem; color:#D52536; font-size:1rem; padding:0 1.5rem;}
.first-contact-wrap.show {transform:translate3d(0, 0, 0) scale(1);}
.first-contact-slide-navi {position:absolute; bottom:0; left:0; background:#7E8083; width:100%; height:4.5rem; padding:0 6rem;}
.first-contact-slide-navi button {display:block; border:none; background:transparent; width:100%; height:4.5rem; color:#fff; font-size:1.5rem; text-align:center;}
.first-contact-slide-navi .btn-prev {position:absolute; top:0; left:0; width:6rem;}
.first-contact-slide-navi .btn-next {position:absolute; top:0; right:0; width:6rem;}

.lead-summary {position:relative; border-radius:0.5rem; box-shadow:0 0.5rem 0.5rem 0.2rem rgba(0,0,0,0.1); height:auto; padding-left:6.5rem; overflow:hidden;}
.lead-summary .mykia-customer {position:absolute; top:1.5rem; right:1.5rem; width:3.5rem;}
.lead-summary .mykia-customer img {display:block; width:100%;}
.lead-summary .lead-type {position:absolute; top:0; left:0; border-top-left-radius:0.5rem; border-bottom-left-radius:0.5rem; background:#D52536; width:6.5rem; height:100%; padding:0;}
.lead-summary .lead-type em {display:block; color:#fff; font-size:1.2rem; text-align:center; padding-top:1rem; padding-bottom:0.5rem;}
.lead-summary .lead-type i {display:block; color:#fff; font-size:2.4rem; text-align:center; margin-top:0.7rem;}
.lead-summary .lead-type span {display:block; color:#fff; font-size:1.2rem; text-align:center; margin-top:1rem;}
.lead-summary .lead-info {background:#fff; height:auto; padding:1rem;}
.lead-summary .lead-info strong {display:block; width:100%; color:#444444; font-size:1.3rem; margin-bottom:1rem;}
.lead-summary .lead-info p {color:#58595B; font-size:1.2rem;}
.lead-summary .lead-info p i {display:inline-block; width:1.5rem; color:#7E8083; text-align:left;}
.lead-summary .lead-info p.date {color:#58595B; font-size:1rem; text-align:right; padding-top:0.5rem;}
.lead-summary.open .lead-type {background:#B58D65;}
.lead-summary.close .lead-type {background:#8497A6;}

.lead-comment {position:relative; border:1px solid #E5DB87; border-radius:0.5rem; box-shadow:0 0.5rem 0.5rem 0.2rem rgba(0,0,0,0.1); background:#FEFCEE; margin-top:2rem;}
.lead-comment .comment {height:10rem; line-height:1.8rem; color:#58595B; font-size:1.2rem; word-break:break-word; padding:1rem 1rem 0; margin-bottom:1rem; overflow:hidden;}
.lead-comment button {border:none; border-top:1px solid #E5DB87; background:transparent; width:100%; height:2.4rem; color:#58595B; font-size:1rem;}
.lead-comment.show .comment {height:auto;}
.lead-comment.show button i:before {content:"\f106";}

.preferred-channel {margin-top:1.5rem;}
.preferred-channel li {margin-bottom:0.8rem;}
.preferred-channel li div {position:relative; border-radius:0.5rem; box-shadow:0 0.1rem 0.3rem 0.2rem rgba(0,0,0,0.2); background:#fff; height:4rem; padding:0 3.5rem}
.preferred-channel li p {line-height:4rem; color:#58595B; font-size:1.4rem;}
.preferred-channel li span {position:absolute; top:0; left:0; display:inline-block; width:3.5rem; height:4rem; line-height:4rem; color:#58595B; font-size:1.1rem; text-align:center;}
.preferred-channel li i {position:absolute; top:0; right:0; display:inline-block; width:3.5rem; height:4rem; line-height:4rem; color:#D52536; font-size:1.4rem; text-align:center;}
.preferred-channel li:last-child {border-top:1px dotted #C4C6C8; padding-top:0.8rem;}
.preferred-channel li:last-child div {padding-left:8.5rem;}
.preferred-channel li:last-child span {top:1.3rem; border-right:1px solid #C4C6C8; width:7.4rem; height:1.3rem; line-height:1.3rem; padding-left:0.5rem;}
.preferred-channel li.active div {border:1px solid rgba(213.37,54, 0.54)}
.preferred-channel li.active span {color:rgba(213.37,54, 0.7);}
.preferred-channel li.active p {color:#D52536;}

#first-contact-lead-list {background:#f6f6f6; height:100% !important; padding-top:2.5rem;}
#first-contact-lead-list>ul {position:relative; width:100%; height:100%;}
#first-contact-lead-list>ul>li {position:relative; height:100%; padding:0 1.5rem; overflow:hidden; overflow-y:auto; -webkit-overflow-scrolling:touch;}

/* Performance */
.radar-chart-wrap {position:relative; background:url('../images/img_radar_chart.png') center top no-repeat; background-size:contain; margin:3rem 0 6rem 0;}
.radar-chart-wrap #radar-chart {transform:translate3d(0, 0.8rem, 0) rotate(180deg)}
.radar-chart-wrap .chart-label {position:absolute; display:inline-block; text-align:center;}
.radar-chart-wrap .chart-label em {display:block; color:#58595B; font-size:1.2rem; text-align:center;}
.radar-chart-wrap .chart-label strong {display:inline-block; line-height:2.7rem; color:#58595B; font-size:2.2rem;}
.radar-chart-wrap .chart-label i {display:inline-block; line-height:2.7rem; font-size:1.2rem; margin-left:0.5rem;}
.radar-chart-wrap .chart-label i.up {color:#D52536;}
.radar-chart-wrap .chart-label i.down {color:#8497A6;}
.radar-chart-wrap .chart-label.task {top:1rem; left:4rem;}
.radar-chart-wrap .chart-label.lead {top:1rem; right:4rem;}
.radar-chart-wrap .chart-label.cont {bottom:-4.5rem; left:50%; margin-left:-2rem;}
.radar-chart-wrap .legend {position:absolute; bottom:-2rem; right:2rem;}
.radar-chart-wrap .legend p {color:#7E8083; font-size:1.2rem; margin:0; line-height:2rem;}
.radar-chart-wrap .legend p i {display:inline-block; border-radius:0.4rem; width:0.8rem; height:0.8rem; vertical-align:middle; margin-right:0.5rem;}
.radar-chart-wrap .legend p .current {background:#F15D6B;}
.radar-chart-wrap .legend p .previous {background:#C4C6C8;}

.line-chart-wrap {clear:both; overflow:hidden; padding:1rem 1.5rem;}
.line-chart-wrap li {position:relative; float:left; border-radius:0.5rem; box-shadow:0 0.2rem 0.5rem 0.2rem rgba(0,0,0,0.2); background:#fff; width:48%; padding-top:2rem; overflow:hidden;}
.line-chart-wrap li:last-child {margin-left:4%;}
.line-chart-wrap li .label {position:absolute; top:1rem; left:1rem; color:#7E8083; font-size:1.3rem;}
.line-chart-wrap li strong {position:absolute; top:3.5rem; left:1rem; font-size:1.8rem; z-index:4}
.line-chart-wrap li .offer-data-value {color:#FF5A26;}
.line-chart-wrap li .contract-data-value {color:#FF9130;}

.average-wrap {padding:0 1.5rem; margin-top:2.5rem;}
.average-wrap h3 {color:#58595B; font-size:1.3rem; padding:0; margin-bottom:1rem;}
.average-wrap>div {position:relative; padding-right:6rem; margin-bottom:0.5rem;}
.average-wrap>div .bar {position:relative; display:block; border-radius:0.5rem; width:0%; height:3rem;}
.average-wrap>div .avg-time {position:absolute; top:0; left:0; display:inline-block; height:3rem; line-height:3rem; color:#fff; font-size:1.2rem; padding-left:1rem;}
.average-wrap>div label {position:absolute; top:0; left:100%; width:6rem; height:3rem; line-height:3rem; font-size:1.4rem; text-align:center;}
.average-wrap>div.salesman-wrap .bar {background:#A17A52;}
.average-wrap>div.salesman-wrap label {color:#A17A52;}
.average-wrap>div.dealer-wrap .bar {background:#B49578;}
.average-wrap>div.dealer-wrap label {color:#B49578;}

/* Lead Detail Popup */
.pop-page-title {padding:0 1.5rem 1.5rem;}
.pop-page-title h3 {color:#58595B; font-size:2rem;}
.pop-page-title span {color:#58595B; font-size:1.2rem;}

.detail-wrap {position:relative; height:100%; padding:5rem 0 4.5rem; overflow:hidden; overflow-y:auto; -webkit-overflow-scrolling:touch; z-index:10;}
.popup-lead-wrap {background:linear-gradient(to bottom, #f6f6f6 3.5rem, #ffffff 3.5rem); padding:0 1.5rem;}
.popup-footer-btn {position:absolute; bottom:0; left:0; width:100%; height:4.5rem; z-index:30;}
.popup-footer-btn button {display:block; border:none; background:#D52536; width:100%; height:100%; color:#fff; font-size:1.6rem;}
.popup-footer-btn button.btn-blue {background:#7D93B5}
.popup-footer-btn button.disabled {background:#7E8083;}
.popup-footer-btn.static {position:static;}
.popup-footer-btn.twice button {float:left; border-right:1px solid #fff; display:inline-block; width:50%;}
.popup-footer-btn.twice button:last-child {border:none;}

.other-lead-wrap {position:relative; height:100%; overflow:hidden;}
.other-lead-wrap h4 {position:absolute; top:0; left:0; background:#f6f6f6; width:100%; height:3.5rem; line-height:3.5rem; color:#58595B; font-size:1.3rem; padding:0rem 1.5rem;}
.other-lead-wrap h4 img {display:inline-block; width:13px; height:13px; margin-right:0.5rem; vertical-align:middle;}

.lead-depth-wrap {border-left:1px dotted #C4C6C8; margin-left:1rem;}
.lead-depth-wrap>div{position:relative; padding:1.5rem 0rem 1.5rem 1rem;}
.lead-depth-wrap .lead-comment {margin:0;}

.lead-history-wrap {height:100%; padding:3.5rem 3.5rem 0 1.5rem;}
.lead-history-list {position:relative; height:100% !important;}
.lead-history-list>ul {height:100% !important;}
.lead-history-list>ul>li {height:100% !important; padding-right:1rem; overflow:hidden; overflow-y:auto; -webkit-overflow-scrolling:touch;}
.lead-history-list .lead-summary {position:absolute; top:0; left:0; right:1rem; z-index:1;}
.lead-history-list .lead-comment .comment {height:6.4rem;}
.lead-history-list .lead-comment.show .comment {height:auto;}
.lead-history-list .btn-more-history {display:none;}
.lead-history-list .lead-depth-wrap {height:100%; padding-top:9.5rem; padding-right:0.5rem; overflow:hidden; overflow-y:auto; -webkit-overflow-scrolling:touch;}


.lead-history-list-item li {position:relative; padding:1.5rem 0 0.5rem 0;}
.lead-history-list-item li .date {position:absolute; top:1.5rem;; right:0; color:#58595B; font-size:1rem;}
.lead-history-list-item li strong {display:block; color:#444444; font-size:1.3rem; padding-left:0.5rem; margin-bottom:1rem;}
.lead-history-list-item li p {color:#58595B; font-size:1.2rem; padding-left:0.5rem;}
.lead-history-list-item li p i {display:inline-block; width:1.5rem; color:#7E8083; text-align:left;}
.lead-history-list-item .history-comment {border-radius:0.5rem; box-shadow:0 0.2rem 0.5rem 0.2rem rgba(0,0,0,0.1); background:#fff; padding:0.5rem; margin-top:1rem}
.lead-history-list-item .history-comment span {color:#7E8083; font-size:1.2rem;}
.lead-history-list-item .history-comment p {position:relative; line-height:1.6rem; color:#58595B; font-size:1.2rem; padding-left:1.5rem; margin:0.5rem 0 0 0.5rem;}
.lead-history-list-item .history-comment p i {position:absolute; top:0.2rem; left:0;}

/* Full size Other Lead */
.other-lead-wrap-summary .other-lead-wrap {height:auto;}
.other-lead-wrap-summary .other-lead-wrap h4 {position:static;}
.other-lead-wrap-summary .lead-history-wrap {height:auto; padding-top:0;}
.other-lead-wrap-summary .lead-history-list {height:32.5rem !important}
.other-lead-wrap-summary .lead-history-list>ul {height:auto !important; overflow:hidden;}
.other-lead-wrap-summary .lead-history-list>ul>li {height:auto !important; overflow:hidden;}
.other-lead-wrap-summary .lead-history-list .lead-depth-wrap {height:23rem; padding-top:0; overflow:hidden;}
.other-lead-wrap-summary .lead-history-list .lead-depth-wrap>div {max-height:23rem; padding-bottom:6rem;}
.other-lead-wrap-summary .lead-history-list .btn-more-history {position:absolute; bottom:0; left:0; right:-1rem; display:block; border:none; background:#f6f6f6; padding:1rem 1rem 2rem;}
.other-lead-wrap-summary .lead-history-list .btn-more-history a {display:block; border-radius:0.5rem; background:#B58D65; width:100%; height:3rem; line-height:3rem; color:#fff; font-size:1.3rem; text-align:center;}
.other-lead-wrap-summary .lead-history-list .btn-more-history.close a {background:#8497A6;}
.other-lead-wrap-summary .lead-history-list .lead-summary {position:relative;}
.other-lead-wrap-summary .lead-history-list .lead-comment button {display:none;}

/* Tab */
.wrap-gray {background:#F6F6F6; padding:0 1.5rem 2rem;}
.tab-select {border-radius:0.5rem; box-shadow:0 0.1rem 0.3rem 0.2rem rgba(0,0,0,0.1); overflow:hidden;}
.tab-select li {float:left; display:inline-block; width:50%; overflow:hidden;}
.tab-select li a {display:block; background:#fff; width:100%; height:4.5rem; line-height:4.5rem; color:#58595B; font-size:1.4rem; text-align:center;}
.tab-select li.on a {background:#D52536; color:#fff;}

/* Tab content */
.tab-select-content {padding:1.5rem 1rem;}
.tab-select-content h4 {color:#58595B; font-size:1.4rem; padding-bottom:0.7rem;}

/* Switch Select List */
.switch-select li {position:relative; width:100%; height:5.5rem; overflow:hidden; padding:0.5rem; opacity:1; transition:0.5s;}
.switch-select li input {position:absolute; top:0; left:0; opacity:0;}
.switch-select li label {position:relative; display:block; border-radius:0.5rem; box-shadow:0 0.1rem 0.3rem 0.2rem rgba(0,0,0,0.1); width:100%; height:4.5rem; line-height:4.5rem; color:#58595B; font-size:1.6rem; padding-left:4rem;}
.switch-select li i {position:absolute; top:0; width:2rem; height:4.5rem; line-height:4.5rem; color:#C4C6C8; font-size:1.6rem; text-align:center;}
.switch-select li span {vertical-align:baseline;}
.switch-select li .left {left:1rem;}
.switch-select li .right {display:none; right:1rem;}
.switch-select li input:checked + label {border:1px solid #E8E8E8; background:#F3F4F4; height:4.5rem !important; line-height:4.5rem !important; opacity:1 !important}
.switch-select li input:checked + label .right {display:inline-block;}
.switch-select li input:checked + label span {display:inline !important;}
.switch-select.selected li {height:0; padding:0; opacity:0;}
.switch-select.selected li.on {height:5.5rem; padding:0.5rem; opacity:1;}

/* Outcome Input */
.outcome-form-wrap {background:#f8f8f8;}
.outcome-form-wrap .outcome-comment-wrap {padding:0.5rem 1.5rem 2.5rem;}
.outcome-form-wrap .outcome-comment-wrap textarea {display:block; border:none; border-radius:0.5rem; box-shadow:0 0.1rem 0.3rem 0.2rem rgba(0,0,0,0.1); background:#fff; width:100%; height:12.8rem; line-height:1.8rem; color:#58595B; font-size:1.6rem; padding:1rem; resize:none;}
.max-comment-length {line-height:1.5rem; color:#58595B; font-size:1.2rem; text-align:right; padding-bottom:0.5rem;}

/* select next activity item */
.outcome-sel-next-activity {border-top:1px solid #E4E5E6; border-bottom:1px solid #E4E5E6; background:#fff; overflow:hidden; padding:1.5rem 1rem;}
.outcome-sel-next-activity li {position:relative; float:left; display:inline-block; width:33.3333%; padding:0.5rem;}
.outcome-sel-next-activity li input {position:absolute; top:0; left:0; opacity:0;}
.outcome-sel-next-activity li label {display:table; border:1px solid #C4C6C8; border-radius:0.5rem; width:100%; height:7.5rem; text-align:center; box-sizing:content-box; padding-top:0.5rem;}
.outcome-sel-next-activity li label i {display:table-row; width:100%; height:2.5rem; color:#C4C6C8; font-size:2rem; vertical-align:middle;}
.outcome-sel-next-activity li label i:before {display:table-cell; vertical-align:middle;}
.outcome-sel-next-activity li label span {display:table-cell; color:#58595B; font-size:1.4rem; height:3.5rem; vertical-align:middle;}
.outcome-sel-next-activity li:last-child label i {font-size:1.8rem;}
.outcome-sel-next-activity li input:checked + label {border-color:#D52536; box-shadow:0 0.1rem 0.3rem 0.2rem rgba(0,0,0,0.1);}
.outcome-sel-next-activity li input:checked + label i,
.outcome-sel-next-activity li input:checked + label span {color:#D52536;}

.plan-next-activity-form {padding:1.5rem}

/* Outcome input - plan next activity - text drive */
.sel-schedule-form {background:transparent;}
.sel-schedule-form li {padding-bottom: 1rem;}
.sel-schedule-form li:last-child {padding:0;}
.sel-schedule-form li div {position:relative;}
.sel-schedule-form li div span {display:block; border-radius:0.5rem; box-shadow:0 0.1rem 0.3rem 0.2rem rgba(0,0,0,0.1); background:#fff; width:100%; height:4.5rem; line-height:4.5rem; color:#58595B; font-size:1.6rem; padding:0 3rem 0 4rem;}
.sel-schedule-form li div i {position:absolute; top:0; width:4rem; height:4.5rem; line-height:4.5rem; font-size:2rem; text-align:center;}
.sel-schedule-form li div .left {left:0; color:#C4C6C8;}
.sel-schedule-form li div .right {right:0; width:3rem;}
.sel-schedule-form li.require .right {color:#D52536;}
.sel-schedule-form li.require.fill .right {color:#ABC582;}

/* Email */
/* Email - select country */
.email-select-country {padding:0 1rem 1rem; overflow:hidden; transition:0.5s;}
.email-select-country h4 {color:#58595B; font-size:1.4rem; padding:0 0.5rem 0.5rem;}
.email-select-country ul {padding:0.5rem; overflow:hidden;}
.email-select-country ul li {position:relative; float:left; display:inline-block; margin-right:1rem;}
.email-select-country ul li input {position:absolute; top:0; left:0; opacity:0;}
.email-select-country ul li label {display:block; border:1px solid #C4C6C8; border-radius:0.5rem; background:#fff; width:9rem; height:6.5rem; color:#58595B; padding:1rem 0;}
.email-select-country ul li label img {display:block; width:2rem; margin:0 auto;}
.email-select-country ul li label span {display:inline-block; width:100%; font-size:1.4rem; text-align:center; padding-top:0.5rem;}
.email-select-country ul li input:checked + label {box-shadow:0 0.1rem 0.3rem 0.2rem rgba(0,0,0,0.1); border-color:#D52536; color:#D52536;}
.email-select-country.hide {height:0; padding:0;}

/* Email - select template */
.email-template-list-wrap {padding:0 1rem;}
.email-template-list-wrap h4 {color:#58595B; font-size:1.4rem; padding:0 0.5rem 0.5rem;}
.email-template-list-wrap ul {padding:0.5rem;}
.email-template-list-wrap li {position:relative; overflow:hidden;}
.email-template-list-wrap li input {position:absolute; top:0; left:0; opacity:0;}
.email-template-list-wrap li label {display:block; border:1px solid #C4C6C8; border-radius:0.5rem; background:#fff; width:100%; height:4.5rem; line-height:4.5rem; color:#58595B; font-size:1.4rem; padding:0 1rem; margin-bottom:0.8rem; transition:0.5s;}
.email-template-list-wrap li label i {position:absolute; top:0; display:none; width:4rem; height:4.5rem; line-height:4.5rem; color:#C4C6C8; font-size:1.6rem; text-align:center;}
.email-template-list-wrap li label .left {left:0;}
.email-template-list-wrap li label .right {right:0; width:3rem;}
.email-template-list-wrap li input:checked + label {border-color:#D52536; box-shadow:0 0.1rem 0.3rem 0.2rem rgba(0,0,0,0.1); color:#D52536;}
.email-template-list-wrap.hide h4 {display:none;}
.email-template-list-wrap.hide li label {border:none; height:0; margin:0;}
.email-template-list-wrap.hide li input:checked + label {border:1px solid #E8E8E8; border-radius:0.5rem; box-shadow:none; background:#F3F4F4; height:4.5rem; line-height:4.5rem; color:#58595B; padding:0 3rem 0 4rem;}
.email-template-list-wrap.hide li input:checked + label .left,
.email-template-list-wrap.hide li input:checked + label .right {display:block;}

/* Email - information form */
.email-form-wrap {padding:1.5rem;}
.email-form {border-radius:0.5rem; box-shadow:0 0.2rem 0.5rem 0.3rem rgba(0,0,0,0.2); background:#F6F6F6; margin-top:2rem;}
.email-form li {position:relative; border-bottom:1px solid #E4E5E6; overflow:hidden;}
.email-form li:last-child {border:none;}
.email-form li select {display:block; border:none; background:transparent url('../images/img_arrow_down.png') right 1rem center no-repeat; background-size:2rem; width:100%; height:4.5rem; line-height:4.5rem; color:#58595B; font-size:1.4rem; padding:0 2.5rem 0 1.5rem; }
.email-form li .sel-salutation {float:left; width:35%;}
.email-form li .sel-name-type {float:left; width:65%;}
.email-form li textarea {border:none; background:transparent; width:100%; min-height:7.4rem; height:auto; line-height:1.8rem; color:#58595B; font-size:1.4rem; padding:1rem 1.5rem;}

/* Email -personal info form*/
.personal-info-form li {padding-top:1.5rem;}
.personal-info-form li label {position:absolute; top:1.5rem; left:0rem; width:100%; height:3rem; line-height:3rem; color:#8497A6; font-size:1.4rem; padding:0 1.5rem; transition:0.3s;}
.personal-info-form li input {display:block; border:none; background:transparent; width:100%; height:3rem; color:#58595B; font-size:1.4rem; padding:0 1.5rem;}
.personal-info-form li.fill label {top:0.5rem; height:1.5rem; line-height:1.5rem; font-size:1.1rem;}











/* Module */
.select-layer-content-wrap {position:absolute; bottom:0; left:0; background:linear-gradient(to bottom, #F3F4F4 15rem, #ffffff 15rem); width:100%; max-height:90vh; padding:0rem;}
.select-layer-content-wrap h3 {color:#BB162B; font-size:2.1rem; text-align:center; padding-top:1.5rem;}
.select-layer-content-wrap .pad-wrap {background:#fff; padding:1.5rem; padding-top:0;}


/* layer select vehicle */
.pre-select-preferred-vehicle {margin-top:1.5rem; margin-bottom:1rem;}
.pre-select-preferred-vehicle p {display:block; border-radius:0.5rem; box-shadow:0 0.1rem 0.3rem 0.2rem rgba(0,0,0,0.1); background:#fff; width:100%; height:4.5rem; line-height:4.5rem; overflow:hidden;}
.pre-select-preferred-vehicle p span {float:left; display:inline-block; color:#58595B; font-size:1.4rem; padding-left:1rem;}
.pre-select-preferred-vehicle p strong {float:right; display:inline-block;; color:#D52536; font-size:1.4rem; padding-right:1rem;}

/* layer vehicle list */
.sel-vehicle-list-wrap {background:#fff; padding:1rem 0; margin-top:1.5rem; overflow:hidden; overflow-x:auto; -webkit-overflow-scrolling:touch;}
.sel-vehicle-list-wrap ul {width:95rem;}
.sel-vehicle-list-wrap ul li {position:relative; float:left; display:inline-block; padding-right:1rem;}
.sel-vehicle-list-wrap ul li input {position:absolute; top:0; left:0; opacity:0;}
.sel-vehicle-list-wrap ul li label {display:table-row; }
.sel-vehicle-list-wrap ul li label span {display:table-cell; border:1px solid #C4C6C8; border-radius:0.5rem; background:#fff; width:8.5rem; height:6.5rem; line-height:1.8rem; color:#58595B; font-size:1.3rem; text-align:center; vertical-align:middle;}
.sel-vehicle-list-wrap ul li input:checked + label span {border-color:#D52536; color:#D52536;}

/* layer schedule calendar */ 
.sel-schedule-calendar-wrap {background:#F3F4F4; padding:1rem 0.5rem 1.5rem;}
.sel-schedule-calendar-wrap>input {display:none;}
.sel-schedule-calendar-wrap .mbsc-material .mbsc-cal-c {padding:0;}
.sel-schedule-calendar-wrap .mbsc-material .mbsc-fr-w {background:#F3F4F4; color:#A3A6B4;}
.sel-schedule-calendar-wrap .mbsc-material .mbsc-fr-btn {color:#C4C6C8;}
.sel-schedule-calendar-wrap .mbsc-material .mbsc-cal-day-date {background:#fff; color:#43425D; font-size:1.2rem;}
.sel-schedule-calendar-wrap .mbsc-material .mbsc-cal-c .mbsc-cal .mbsc-cal-body .mbsc-selected .mbsc-cal-cell-txt {background:#D52536; color:#fff;}
.sel-schedule-calendar-wrap .mbsc-material .mbsc-cal-year,
.sel-schedule-calendar-wrap .mbsc-material .mbsc-cal-month {color:#58595B;}

/* layer schedule time list */
.sel-schedule-time-list-wrap {background:#fff; padding:1.5rem; overflow:hidden; overflow-x:auto; -webkit-overflow-scrolling:touch;}
.sel-schedule-time-list-wrap ul {width:110.5rem;}
.sel-schedule-time-list-wrap ul li {position:relative; float:left; display:inline-block; padding-right:0.5rem;}
.sel-schedule-time-list-wrap ul li input {position:absolute; top:0; left:0; opacity:0;}
.sel-schedule-time-list-wrap ul li label {display:inline-block; border:1px solid #C4C6C8; border-radius:0.5rem; width:6rem; height:3rem; line-height:3rem; color:#444444; font-size:1.3rem; text-align:center;}
.sel-schedule-time-list-wrap ul li input:checked + label {box-shadow:0 0.1rem 0.3rem 0.2rem rgba(0,0,0,0.1); border-color:#D52536; color:#D52536;}
.sel-schedule-time-list-wrap ul li input:disabled + label {border-color:#E8E8E8; background:#F3F4F4; color:#C4C6C8;}

/* layer schedule time controll pannel */
.sel-schedule-time-controll {table-layout:fixed; background:#F3F4F4; width:100%;}
.sel-schedule-time-controll td {line-height:3rem; text-align:center; padding:1rem 0; vertical-align:middle;}
.sel-schedule-time-controll td span {color:#9F9F9F; font-size:1.3rem;}
.sel-schedule-time-controll td strong {display:block; color:#58595B; font-size:2.0rem; line-height:2.2rem; padding-bottom:2rem;}
.sel-schedule-time-controll td button {display:inline-block; border:none; border-radius:0.5rem; box-shadow:0 0.1rem 0.3rem 0.2rem rgba(0,0,0,0.1); background:#8497A6; width:6.5rem; height:2.3rem; line-height:2.3rem; color:#fff; font-size:1.2rem;}

/* Other Schedule list on time */
.other-schedule-list-on-time {background:#fff; padding:1rem 0.5;}
.other-schedule-list-on-time h4 {color:#58595B; font-size:1.6rem; padding:1.5rem 1rem 0;}
.other-schedule-list-wrap {padding:1rem; overflow:hidden; overflow-x:auto; -webkit-overflow-scrolling:touch;}
.other-schedule-list-wrap ul {width:110rem;}
.other-schedule-list-wrap ul li {float:left; display:inline-block; border:1px solid #C4C6C8; border-radius:0.5rem; width:10.5rem; height:8rem; padding:1rem 0.5rem; margin-right:0.5rem;}
.other-schedule-list-wrap ul li span {color:#D52536; font-size:1.2rem;}
.other-schedule-list-wrap ul li p {color:#58595B; font-size:1.4rem; padding-top:1rem;}

/* selected brochure list */
.layer-selected-brochure-list {padding:1.5rem; overflow:hidden;}
.layer-selected-brochure-list li {position:relative; float:left; display:inline-block; border-radius:1.3rem; background:#D52536; height:2.5rem; line-height:2.5rem; color:#fff; font-size:1.2rem; padding:0 2.5rem 0 1rem; margin-right:1rem; margin-bottom:1rem;}
.layer-selected-brochure-list li span {vertical-align:baseline;}
.layer-selected-brochure-list li button {position:absolute; top:0; right:0; border:none; background:transparent; width:2.5rem; height:2.5rem;}
.layer-selected-brochure-list li button i {color:#fff; font-size:1.6rem;}

/* brochure list */
.layer-brochure-list-wrap {background:#fff; width:100%; overflow:hidden; overflow-x:auto; -webkit-overflow-scrolling: touch; padding:1rem 1.5rem;}
.layer-brochure-list-wrap ul {overflow:hidden;}
.layer-brochure-list-wrap ul li {position:relative; float:left; display:table-row; width:9.5rem; padding-right:1rem;}
.layer-brochure-list-wrap ul li input {position:absolute; top:0; left:0; opacity:0;}
.layer-brochure-list-wrap ul li label {display:table-cell; border:1px solid #C4C6C8; border-radius:0.5rem; width:8.5rem; height:6.5rem; color:#58595B; font-size:1.3rem; text-align:center;}
.layer-brochure-list-wrap ul li input:checked + label {border-color:#D52536; color:#D52536;}

/* Offer List */
.sel-offer-list {max-height:30rem; margin-top:1.5rem; overflow:hidden; overflow-y:auto; -webkit-overflow-scrolling:touch;}
.sel-offer-list li {position:relative; margin-bottom:0.8rem;}
.sel-offer-list li input {position:absolute; top:0; left:0; visibility:hidden;}
.sel-offer-list li label {display:block; border:1px solid #C4C6C8; border-radius:0.5rem; background:#fff; width:100%; min-height:4.5rem; line-height:2.1rem; color:#58595B; font-size:1.4rem; padding:1.2rem 1rem;}
.sel-offer-list li input:checked + label {border-color:#D52536; box-shadow:0 0.1rem 0.3rem 0.2rem rgba(0,0,0,0.1); color:#D52536;}






